<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>我的应榜</title>
  <link rel="stylesheet" href="/plugins/date/jedate.css" />
  <script src="/plugins/date/jedate.js"></script>
  <script src="/plugins/upload/imgFileupload.js"></script>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/plugins/animate.min.css" />
  <link rel="stylesheet" href="/plugins/syalert/syalert.min.css" />
  <link rel="stylesheet" href="/plugins/swiper/swiper.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/plugins/layui/css/layui.css" />

  <script src="/plugins/babel-polyfill.min.js"></script>
  <script src="/plugins/layui/layui.js"></script>
  <script src="/plugins/jsencrypt.js"></script>
  <script src="/plugins/jquery.min.js"></script>
  <script src="/plugins/swiper/swiper.min.js"></script>
  <script src="/plugins/syalert/syalert.min.js"></script>
  <script src="/plugins/vue.min.js"></script>

  <script src="/plugins/axios.min.js"></script>
  <script src="/utils/request.js"></script>
</head>

<body>
  <!-- 公共头部 -->
  <header class="public-header"></header>
  <!--center-container start-->
  <div class="center-container">
    <!--main-center start-->
    <div class="main-center w-1200 clearfix">
      <div class="public-user"></div>
      <!--center-content start-->
      <div class="center-content fr" id="app">
        <!--center-inner start-->
        <div class="center-inner">
          <div class="center-inner-tit clearfix">
            <a class="li-a fl m-r-40 active" href="">教课应榜</a>
            <a class="li-a fl m-r-40" href="">学课应榜</a>
          </div>
          <div class="center-inner-content">
            <!--center-order-state start-->
            <div class="center-order-state m-b-20 clearfix">
              <div class="li active"><a href="">全部榜文</a> </div>
              <div class="li"><a href="">待审核</a> </div>
              <div class="li"><a href="">应榜中</a> </div>
              <div class="li"><a href="">应榜结束</a> </div>
              <div class="li"><a href="">工作中</a> </div>
              <div class="li"><a href="">任务结束</a> </div>
              <div class="li"><a href="">未通过</a> </div>
            </div>
            <!--center-order-state end-->
            <!--center-inner-form start-->
            <div class="center-inner-form wallet-search clearfix">
              <div class="form-bor">
                <select class="select w130">
                  <option>111</option>
                </select>
              </div>
              <div class="form-bor m-l-20">
                <input type="text" class="input common-date-input w130" id="dateS" placeholder="开始时间">
              </div>
              <div class="form-bor m-l-20">
                <input type="text" class="input common-date-input w130" id="dateE" placeholder="结束时间">
              </div>
              <button class="form-btn m-l-20">查询</button>
            </div>
            <!--center-inner-form end-->
            <script>
              jeDate("#dateS", {
                format: "MM-DD-YYYY"
              });
              jeDate("#dateE", {
                format: "MM-DD-YYYY"
              });
            </script>
            <!--center-inner-table-wrap start-->
            <div class="center-inner-table-wrap">
              <table class="center-inner-table center-order-table">
                <tr>
                  <th>榜文标题</th>
                  <th>榜文类型</th>
                  <th>任务周期</th>
                  <th>服务分类</th>
                  <th>发榜时间</th>
                  <th>审核状态</th>
                  <th>操作</th>
                </tr>
                <tr v-for="item in myList" :key="item.id">
                  <td>
                    <div class="center-order-flex">
                      <img class="center-order-img" :src="item.image">
                      <p class="center-order-txt m-l-10">{{item.title}}</p>
                    </div>
                  </td>
                  <td>
                    <p v-if="item.type==1">教课</p>
                    <p v-if="item.type==2">学课</p>
                    <p>{{item.name}}</p>
                    <p class="color-red">金额{{item.total_money}}</p>
                  </td>
                  <td>
                    <p>{{item.task_start_time}}</p>
                    至
                    <p>{{item.task_end_time}}</p>
                  </td>
                  <td>
                    <p v-if="item.pay_num_type==1">一次付清</p>
                    <p v-if="item.pay_num_type==2">多次付清</p>
                    <p v-if="item.win_type==1">单人中榜</p>
                    <p v-if="item.win_type==2">多人中榜</p>
                    <p v-if="item.is_trustee==1">托管</p>
                    <p v-if="item.is_trustee==2">不托管</p>
                  </td>
                  <td>{{item.addtime}}</td>
                  <td v-if="item.status==0">待中榜</td>
                  <td v-if="item.status==1">已中榜</td>
                  <td v-if="item.status==2">工作中</td>
                  <td v-if="item.status==3">任务结束</td>
                  <td v-if="item.status==4">已评价</td>
                  <td v-if="item.status==0||item.status==1||item.status==4">
                    <div class=" handle text-c">
                      <a class="handle-btn blue m-t-5" href="CenterRank7.html">查看详情</a>
                    </div>
                  </td>
                  <td v-if="item.status==2">
                    <div class="handle text-c">
                      <a class="handle-btn m-t-5" href="CenterRank9.html">开始教课</a>
                    </div>
                  </td>
                  <td v-if="item.status==2">
                    <div class="handle text-c">
                      <a class="handle-btn m-t-5" href="CenterRank11.html">查看原因</a>
                    </div>
                  </td>
                  <td v-if="item.status==3">
                    <div class="handle text-c">
                      <a class="handle-btn m-t-5" href="">我要评价</a>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <!--center-inner-table-wrap end-->
          </div>
        </div>
        <!--center-inner end-->
      </div>
      <!--center-content end-->
    </div>
    <!--main-center end-->
  </div>
  <!--center-container end-->
  <!-- 公共底部 -->
  <footer class="public-footer"></footer>
  <script src="/js/common.js"></script>
  <script src="/js/userCont/bangwen/mylist.js"></script>
</body>

</html>
