<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>榜文管理-详情</title>
  <link rel="stylesheet" href="/plugins/date/jedate.css" />
  <script src="/plugins/date/jedate.js"></script>
  <script src="/plugins/upload/imgFileupload.js"></script>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/plugins/animate.min.css" />
  <link rel="stylesheet" href="/plugins/syalert/syalert.min.css" />
  <link rel="stylesheet" href="/plugins/swiper/swiper.min.css" />
  <link rel="stylesheet" href="/plugins/element-ui/element-ui.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/plugins/layui/css/layui.css" />

  <script src="/plugins/babel-polyfill.min.js"></script>
  <script src="/plugins/layui/layui.js"></script>
  <script src="/plugins/qrcode.min.js"></script>
  <script src="/plugins/qs.min.js"></script>
  <script src="/plugins/jsencrypt.js"></script>
  <script src="/plugins/jquery.min.js"></script>
  <script src="/plugins/swiper/swiper.min.js"></script>
  <script src="/plugins/syalert/syalert.min.js"></script>
  <script src="/plugins/vue.min.js"></script>

  <script src="/plugins/element-ui/element-ui.min.js"></script>
  <script src="/plugins/axios.min.js"></script>
  <script src="/utils/request.js"></script>
  <style>
    /* 隐藏 element-ui 对话框的标题栏 */
    .el-dialog .el-dialog__header {
      display: none;
    }

    .el-dialog .el-dialog__body {
      padding: 0;
    }

    .bond-pop {
      width: auto;
    }

    .bond-pop .pay-item {
      color: #333 !important;
    }

    .bond-content {
      color: #333 !important;
    }
  </style>
</head>

<body>
  <!-- 公共头部 -->
  <header class="public-header"></header>
  <!--center-container start-->
  <div class="center-container">
    <!--main-center start-->
    <div class="main-center w-1200 clearfix">
      <div class="public-user"></div>
      <!--center-content start-->
      <div class="center-content fr" id="app">
        <!--center-inner start-->
        <div class="center-inner">
          <!--inner-position start-->
          <div class="inner-position">
            <a href="./noticeList.html">榜文管理</a>
            <span>&lt; </span>
            <span class="current">榜文详情</span>
          </div>
          <!--inner-position end-->
          <div class="center-inner-content">
            <!--center-rank-head start-->
            <div class="center-rank-head clearfix">
              <div class="img fl">
                <img :src="noticeCont.image">
              </div>
              <div class="txt">
                <div class="t m-b-10">
                  {{noticeCont.title}}
                  <div class="state fr color-6">当前状态：
                    <span class="color-orange" v-if="noticeCont.status=='-2'">整体终止任务</span>
                    <span class="color-orange" v-if="noticeCont.status=='-1'">审核失败</span>
                    <span class="color-orange" v-if="noticeCont.status=='0'">待审核</span>
                    <span class="color-orange" v-if="noticeCont.status=='1'">审核成功</span>
                    <span class="color-orange" v-if="noticeCont.status=='2'">应榜中</span>
                    <span class="color-orange" v-if="noticeCont.status=='3'">应榜结束</span>
                    <span class="color-orange" v-if="noticeCont.status=='4'">工作中</span>
                    <span class="color-orange" v-if="noticeCont.status=='5'">任务结束</span>
                  </div>
                </div>
                <div class="tags clearfix">
                  <span class="tag fl">{{name}}</span>
                  <span class="tag fl" v-if="noticeCont.pay_num_type==1">一次付清</span>
                  <span class="tag fl" v-if="noticeCont.pay_num_type==2">多次付清</span>
                  <span class="tag fl" v-if="noticeCont.win_type==1">单人中榜</span>
                  <span class="tag fl" v-if="noticeCont.win_type==2">多人中榜</span>
                  <span class="tag fl" v-if="noticeCont.is_trustee==1">托管</span>
                  <span class="tag fl" v-if="noticeCont.is_trustee==2">不托管</span>
                </div>
                <div class="price f-16 m-t-10 m-b-10">酬金：<span class="f-20 color-red">￥{{noticeCont.total_money}}</span>
                </div>
                <div class="date color-6">{{noticeCont.task_start_time}} 至 {{noticeCont.task_end_time}}
                  <div v-if="noticeCont.type==1&&noticeCont.status=='0'" class="handle-btn red fr" @click="onDelClick">
                    删除榜文</div>
                  <div v-if="noticeCont.type==1&&noticeCont.status==1" class="handle-btn red fr" @click="onDelClick">
                    终止任务</div>
                </div>
              </div>
            </div>
            <!--center-rank-head end-->
            <div class="date color-red m-t-35"
              v-if="noticeCont.status=='2'||noticeCont.status=='3'||noticeCont.status=='4'">
              <span class="color-gray"> 应榜人数：</span>{{noticeCont.attend_num}}人
              <span class="color-gray" style="margin-left: 40px;">中榜人数：</span>{{noticeCont.select_num}}人
            </div>
            <!--center-rank-head-hd start-->
            <div class="m-t-15 m-b-15 clearfix" v-if="noticeCont.status=='3'||noticeCont.status=='4'">
              <div class="f-weight f-16 fl">中榜人列表</div>

            </div>
            <div v-if="noticeCont.status=='3'||noticeCont.status=='4'">
              <div v-for="item,k in selectList" :key="k">
                <div class="center-rank-head-hd">
                  <!-- <div class="m-b-15 clearfix">
                <div class="fl color-gray">应榜人数：<span class="color-red f-16">25人</span> </div>
                <div class="fl color-gray m-l-40">中榜人数：<span class="color-red f-16">3人</span> </div>
              </div> -->
                  <div class="hd-t m-t-10 clearfix">
                    <div class="num f-weight f-16 fl">{{k+1}}</div>
                    <div class="name f-weight f-16 fl m-l-20">{{item.nickname}}</div>
                    <div class="price fl m-l-40">报价：{{item.total_money}}元</div>
                    <div class="c fl m-l-40" v-if="item.pay_num_type==1">支付方式：一次支付</div>
                    <div class="c fl m-l-40" v-if="item.pay_num_type==2">支付方式：多次支付</div>
                    <div class="c fl m-l-15">{{item.pay_num}}次</div>
                    <!-- <div class="fl m-l-30"><span class="color-6"> 选择中榜时间：</span>{{item.addtime}}</div> -->
                    <div class="handle-btn red fr" @click="onterminateTaskClick(item.id)">终止任务</div>
                  </div>
                </div>
                <!--center-rank-head-hd end-->
                <!--center-inner-table-wrap start-->
                <div class="center-inner-table-wrap">
                  <table class="center-inner-table center-order-table" v-for="items,i in item.blList" :key='i'>
                    <tr>
                      <th v-for="e,k in items" :key="k">第{{e.num}}次支付{{e.money}}元</th>
                    </tr>
                    <tr>
                      <!-- 对方状态：中榜后每一个都是0未开始，1开始学习后，教课的人可以点击开始教课，2已开始教课待完成，3支付完成变成完成教课（或者教课者点击完成教课） -->
                      <td v-for="e,k in items" :key="k">
                        <!-- 0待总的开始学习，1待开始教课，2已开始教课待阶段完成学习，3完成学习 -->
                        <p v-if="e.status==0||e.status==1" class="color-gray">完成学习</p>
                        <p v-if="e.status==2" class="color-blue" style="cursor: pointer;"
                          @click="onfinishTeachClick(e)">完成学习</p>
                        <p v-if="e.status==3" class="color-blue">开始教课</p>
                      </td>
                    </tr>
                    <tr>
                      <!-- 对方状态：中榜后每一个都是0未开始，1开始学习后，教课的人可以点击开始教课，2已开始教课待完成，3支付完成变成完成教课（或者教课者点击完成教课） -->
                      <td v-for="e,k in items" :key="k">
                        <!-- 0待总的开始学习，1待开始教课，2已开始教课待阶段完成学习，3完成学习 -->
                        <p v-if="e.status==3" class="color-blue">完成学习</p>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <!--center-inner-table-wrap end-->
            <!--center-rank-head-hd start-->
            <div class="center-rank-head-hd"
              v-if="noticeCont.status=='2'||noticeCont.status=='3'||noticeCont.status=='4'">
              <div class="hd-t m-t-10 clearfix">
                <div class="f-weight f-16 fl">应榜人列表</div>
                <div class="color-6 m-l-30 fl">应榜截止时间：{{noticeCont.signup_end_time}}</div>
                <!-- <div class="fr color-orange">任务已终止</div> -->
              </div>
            </div>
            <!--center-rank-head-hd end-->
            <!--center-inner-table-wrap start-->
            <div class="center-inner-table-wrap"
              v-if="noticeCont.status=='2'||noticeCont.status=='3'||noticeCont.status=='4'">
              <table class="center-inner-table center-order-table">
                <tr>
                  <th>应榜号</th>
                  <th>姓名</th>
                  <th>报价</th>
                  <th>描述</th>
                  <th>支付方式</th>
                  <th>时间</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
                <tr v-for="item,index in userList" :key="index">
                  <td>{{index+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.total_money}}元</td>
                  <td>{{item.descri}}</td>
                  <td v-if="item.pay_num_type==1">一次付清</td>
                  <td v-if="item.pay_num_type==2">多次支付{{item.pay_num}}次</td>
                  <td>{{item.addtime}}</td>
                  <td>
                    <!-- -3未同意终止任务平台介入了，-2已同意终止任务，-1终止任务申请中，0待中榜，1待学习，2已开始学习即工作中,3已完成，4已评价 -->
                    <p class="color-gray" v-if="item.status==0">待中榜</p>
                    <p class="color-gray" v-if="item.status==1">已中榜</p>
                    <p class="color-gray" v-if="item.status==2">工作中</p>
                    <p class="color-gray" v-if="item.status==3">已完成</p>
                    <p class="color-gray" v-if="item.status==4">已评价</p>
                    <p class="color-gray" v-if="item.status=='-1'">终止任务申请中</p>
                    <p class="color-gray" v-if="item.status=='-2'">已同意终止任务</p>
                    <p class="color-gray" v-if="item.status=='-3'">未同意终止任务平台介入了</p>
                  </td>
                  <td v-if="item.status==0">
                    <p class="color-orange" style="cursor: pointer;" @click="onZbClick(item)">中榜</p>
                  </td>
                  <td v-if="item.status==1">
                    <!-- 此处是学棋榜文，托管 -->
                    <p class="color-orange" v-if="item.is_trustee==1&&item.pay_status=='-1'"
                      @click="onStudytgClick(item)">开始学习</p>
                    <p class="color-orange" v-if="item.is_trustee==1&&item.pay_status==0" @click="onpayClick(item)">开始学习
                    </p>
                    <!-- 此处是学棋榜文，不托管 -->
                    <p class="color-orange" v-if="item.is_trustee==2" @click="onStudyClick(item.id)">开始学习</p>
                    <p class="color-gray" @click="onQueryClick(item.id)">取消中榜</p>
                  </td>
                  <td v-if="item.status==2">
                    <!-- 此处是学棋榜文，不托管 -->
                    <p class="color-red" @click="onterminateTaskClick(item.id)">终止任务</p>
                    <!-- <p class="color-orange" @click="onStudyClick(item.id)">开始学习</p>
                    <p class="color-gray" @click="onQueryClick(item.id)">取消中榜</p> -->
                  </td>
                </tr>
              </table>
            </div>
            <!--center-inner-table-wrap end-->
          </div>
        </div>
        <!--删除榜文弹出-->
        <div class="sy-alert bond-pop animated" style="width:500px;" sy-enter="zoomIn" sy-leave="zoomOut"
          sy-type="confirm" sy-mask="true" id="noticeDelCont">
          <div class="bond-content">
            <div class="bond-close" onClick="syalert.syhide('noticeDelCont')"></div>
            <div class="bond-tit">删除榜文</div>
            <div class="text-c m-t-40">
              <div class="f-16">榜文删除后，将不能不发布</div>
              <div class="f-20 m-t-25">您确定删除？</div>
            </div>
            <div class="last-bottom text-c">
              <button class="bond-btn mar-auto" @click="onDelqueryClick">确定</button>
            </div>
          </div>
        </div>
        <!--终止任务弹出-->
        <el-dialog class="bond-pop animated w850" :visible="terminateTaskVisible" :show-close="false" width="700px">
          <div class="bond-content">
            <div class="bond-close" @click="onterminateTaskQuery"></div>
            <div class="pay-item f-20 clearfix">
              <div class="label f-weight">终止任务：</div>
              <div class="item-r">终止任务后已支付无法退还。</div>
            </div>
            <div class="pay-item">
              <div class="f-20 m-b-10">终止原因</div>
              <div class="pay-item-text">
                <textarea class="text f-16" v-model="reason" placeholder="请填写为什么终止" rows="3"></textarea>
              </div>
            </div>
            <div class="pay-item f-20 clearfix">
              <div class="label">您想要：</div>
              <div class="item-r">
                <div class="pay-item-radio fl m-r-40">
                  <input class="radio" type="radio" value="1" name="agree">
                  <span>终止任务</span>
                </div>
              </div>
            </div>
            <div class="pay-item f-20 clearfix">
              <div class="label">联系方式：</div>
              <div class="item-r">
                <div class="pay-item-input w220">
                  <input class="input f-18" type="number" v-model="phone" placeholder="请输入联系方式">
                </div>
              </div>
            </div>
            <div class="register-check clearfix">
              <div class="check-input fl">
                <input class="check" type="checkbox">
                <span class="span"></span>
              </div>
              <div class="fl f-16">我已阅读并同意<a class="color-orange" href="/rule/bwgz.html">《玻玻摸佛网榜文需求规则》</a> </div>
            </div>
            <div class="last-bottom text-c">
              <button class="bond-btn mar-auto" @click="onzzClick">提交</button>
            </div>
          </div>
        </el-dialog>
        <!-- 开始学课对话框 -->
        <el-dialog custom-class="bond-pop animated" :visible="depositDialogVisible" :show-close="false" width="700px">
          <div class="bond-content">
            <div class="bond-close" @click="handleCloseDepositDialog"></div>
            <div class="bond-tit">开始学课</div>
            <div class="bond-tip" style="width: 500px;">本课程为托管类型，开始学习时需支付课时费到平台， 之后每次学课完成从托管账户中扣除。</div>
            <div class="bond-price">课时费：<span class="color-red">￥{{depositAmount}}</span></div>
            <div class="bond-pay">
              <div class="t">选择支付方式</div>
              <div class="con clearfix">
                <label class="li">
                  <input type="radio" class="bond-radio" name="payMethod" value="1" v-model.number="payMethod" />
                  <span class="radio-s"><img src="/images/pub14.png" /></span>
                </label>
                <label class="li">
                  <input type="radio" class="bond-radio" name="payMethod" value="2" v-model.number="payMethod" />
                  <span class="radio-s"><img src="/images/pub19.png" /></span>
                </label>
                <label class="li">
                  <input type="radio" class="bond-radio" name="payMethod" value="3" v-model.number="payMethod" />
                  <span class="radio-s"><img src="/images/pub13.png" /></span>
                </label>
              </div>
            </div>
            <div class="last-bottom">
              <button class="bond-btn" @click="confirmPayDeposit">确认并支付</button>
            </div>
          </div>
        </el-dialog>
        <!-- 开始学课重新生成对话框 -->
        <el-dialog custom-class="bond-pop animated" :visible="depositDialogShow" :show-close="false" width="700px">
          <div class="bond-content">
            <div class="bond-close" @click="handleCloseDeposit"></div>
            <div class="bond-pay">
              <div class="t">选择支付方式</div>
              <div class="con clearfix">
                <label class="li">
                  <input type="radio" class="bond-radio" name="payMethod" value="1" v-model.number="payMethod" />
                  <span class="radio-s"><img src="/images/pub14.png" /></span>
                </label>
                <label class="li">
                  <input type="radio" class="bond-radio" name="payMethod" value="2" v-model.number="payMethod" />
                  <span class="radio-s"><img src="/images/pub19.png" /></span>
                </label>
                <label class="li">
                  <input type="radio" class="bond-radio" name="payMethod" value="3" v-model.number="payMethod" />
                  <span class="radio-s"><img src="/images/pub13.png" /></span>
                </label>
              </div>
            </div>
            <div class="last-bottom">
              <button class="bond-btn" @click="PayDeposit">确认并支付</button>
            </div>
          </div>
        </el-dialog>
        <!-- 钱包支付对话框 -->
        <el-dialog custom-class="wallet-pop w850 animated" :visible="walletPayDialogVisible" :show-close="false">
          <div class="wallet-con">
            <div class="wallet-close" @click="handleCloseWalletPayDialog"></div>
            <div class="t">钱包支付</div>
            <div class="wallet-mid">
              <div class="money">支付金额：<span class="price color-red">￥{{payAmount}}</span></div>
              <div class="wallet-label">输入支付密码<a class="wallet-a fr color-gray" href="/userCont/wallet/pwd.html"
                  target="_blank">忘记密码？</a></div>
              <div class="wallet-input">
                <input class="input" type="password" v-model.trim="payPassword" />
              </div>
            </div>
            <div class="wallet-bottom">
              <button class="wallet-btn" @click="handleSubmitWalletPay">确定</button>
            </div>
          </div>
        </el-dialog>
        <!-- 支付宝支付对话框 -->
        <el-dialog custom-class="wallet-pop animated" :visible="alipayPayDialogVisible" :show-close="false"
          width="600px">
          <div class="wallet-con">
            <div class="wallet-close" @click="handleCloseAlipayPayDialog"></div>
            <div class="t">支付宝支付</div>
            <div class="money">支付金额：<span class="price color-red">￥{{payAmount}}</span></div>
            <div class="con clearfix">
              <div class="wx-g">
                <!-- <img :src="alipayPayQrcode" /> -->
                <div id="alipayPayQrcode"></div>
                <div class="tip">请使用支付宝“扫一扫”,扫描二维码支付</div>
              </div>
              <div class="wx-i">
                <img src="/images/pub-alipay.png" />
              </div>
            </div>
          </div>
        </el-dialog>
        <!-- 微信支付对话框 -->
        <el-dialog custom-class="wallet-pop animated" :visible="wechatPayDialogVisible" :show-close="false"
          width="600px">
          <div class="wallet-con">
            <div class="wallet-close" @click="handleCloseWechatPayDialog"></div>
            <div class="t">微信支付</div>
            <div class="money">支付金额：<span class="price color-red">￥{{payAmount}}</span></div>
            <div class="con clearfix">
              <div class="wx-g">
                <!-- <img :src="wechatPayQrcode" /> -->
                <div id="wechatPayQrcode"></div>
                <div class="tip">请使用微信“扫一扫”,扫描二维码支付</div>
              </div>
              <div class="wx-i">
                <img src="/images/pub1.jpg" />
              </div>
            </div>
          </div>
        </el-dialog>
        <!--center-inner end-->
      </div>
      <!--center-content end-->
    </div>
    <!--main-center end-->
  </div>
  <!--center-container end-->
  <!-- 公共底部 -->
  <footer class="public-footer"></footer>
  <script src="/js/common.js"></script>
  <script src="/js/userCont/bangwen/noticeView.js"></script>
</body>

</html>
