<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>直播详情</title>
  <link rel="stylesheet" href="/plugins/animate.min.css">
  <link rel="stylesheet" href="/plugins/syalert/syalert.min.css">
  <link rel="stylesheet" href="/plugins/swiper/swiper.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/plugins/date/jedate.css">
  <link rel="stylesheet" href="/plugins/layui/css/layui.css" />
  <script src="/plugins/layui/layui.js"></script>
  <script src="/plugins/qs.min.js"></script>
  <script src="/plugins/jquery.min.js"></script>
  <script src="/plugins/swiper/swiper.min.js"></script>
  <script src="/plugins/syalert/syalert.min.js"></script>
  <script src="/plugins/date/jedate.js"></script>
  <script src="/plugins/vue.min.js"></script>
  <script src="/plugins/axios.min.js"></script>
  <script src="/utils/request.js"></script>
  <style>
    .live-like.active {
      background: url('../images/live12.png') no-repeat 0px center;
    }
  </style>
</head>

<body>
  <!-- 公共头部 -->
  <header class="public-header"></header>
  <!--live-container start-->
  <div class="live-container" id="app">
    <!--inner-position start-->
    <div class="inner-position w-1200">
      <a href="">首页</a>
      <span>&lt;</span>
      <a href="">直播频道 </a>
      <span>&lt; </span>
      <a class="current" href="">直播详情</a>
    </div>
    <!--inner-position end-->
    <!--live-detail start-->
    <div class="live-detail w-1200">
      <div class="live-inner clearfix">
        <!--live-inner-fl start-->
        <div class="live-inner-fl fl">
          <!--live-head start-->
          <div class="live-head">
            <!--live-head-hd start-->
            <div class="live-head-hd clearfix">
              <div class="img fl"><img :src="noticeCont.avatar"></div>
              <div class="txt fl">
                <div class="t">{{noticeCont.title}}<span class="tag">{{noticeCont.cate_name}}</span> </div>
                <div class="c">
                  主播：{{noticeCont.nickname}}
                  <span class="fire">{{noticeCont.see_num}}</span>
                  <span class="people">1.3万</span>
                </div>
              </div>
              <div class="fr">
                <span @click="onZanClick" v-if="noticeCont.zan==1" class="live-like fl active">点赞</span>
                <span @click="onZanClick" v-else class="live-like fl">点赞</span>
                <span class="live-complain fl" onClick="syalert.syopen('tsCont')">投诉</span>
                <span class="live-share fl">分享</span>
              </div>
            </div>
            <!--live-head-hd end-->
            <!--live-video start-->
            <div class="live-video">
              <img src="/images/live19.jpg">
            </div>
            <!--live-video end-->
            <!--live-head-bd start-->
            <!-- <div class="live-head-bd">比赛通告：2021浙江众禾杯象棋公开赛基金华市第37届棋王赛落幕</div> -->
            <!--live-head-bd end-->
          </div>
          <!--live-head end-->
          <!--live-inner-box start-->
          <div class="live-inner-box">
            <div class="live-detail-tit index-sec2-title clearfix">
              <div class="t fl">直播详情</div>
            </div>
            <div class="live-detail-article">
              <p v-if="noticeCont.type==1">直播种类：课程直播</p>
              <p v-if="noticeCont.type==2">直播种类：赛事直播</p>
              <p v-if="noticeCont.join_type==1">进入权限：申请进入</p>
              <p v-if="noticeCont.join_type==2">进入权限：全网公开</p>
              <p v-if="noticeCont.join_type==3">进入权限：会员公开</p>
              <p v-if="noticeCont.join_type==4">进入权限：设置密码</p>
              <!-- <p>选择课程：{{noticeCont.cate_name}}教程</p> -->
              <p>棋类型：{{noticeCont.cate_name}}</p>
              <p>直播讲解时间：{{noticeCont.start_time}}至{{noticeCont.end_time}}</p>
              <p>直播时长：{{dateTime}}分钟</p>
              <p style="font-size:16px;">直播讲解描述</p>
              <p>{{noticeCont.descri}}</p>
              <!-- <p style="font-size:16px;">直播讲解描述</p>
              <p>
                围棋的棋盘上有纵横十九条线，361个交差点，有黑白两个颜色的棋子，以围棋围住的地盘大小决定胜负。棋盘可分为九个
                部分，每个部分上都有一个星点，中间星为天元，执黑子的人先下，黑白棋子轮流下，落子后不能悔棋。
              </p> -->
            </div>
          </div>
          <!--live-inner-box end-->
        </div>
        <!--live-inner-fl end-->
        <!--live-inner-fr start-->
        <div class="live-inner-fr fr">
          <!--live-inner-box start-->
          <div class="live-inner-box pad-b0">
            <!--match-notice start-->
            <div class="match-notice">
              <div class="player-tit">直播介绍</div>
              <div class="con">
                <p>{{noticeCont.descri}}</p>
              </div>
            </div>
            <!--match-notice end-->
            <!--live-comment start-->
            <div class="live-comment">
              <div class="player-tit">直播评论</div>
              <div class="tip color-orange">系统提示：请文明留言，比赛正在进行中，请赶快和
                大家一起观看比赛吧！</div>
              <div class="c">
                <p v-for="item in plList" :key="item.id"><span
                    class="color-orange">{{item.nickname}}：</span>{{item.content}}</p>
              </div>
            </div>
            <!--live-comment end-->
            <div class="live-inner-fa">
              <div class="live-inner-song">
                <input type="text" v-model="content" placeholder="请输入评论内容" class="input fl">
                <button class="btn fr" @click="onPlClick">发送</button>
              </div>
            </div>
          </div>
          <!--live-inner-box end-->
          <!--live-inner-box start-->
          <div class="live-inner-box">
            <div class="live-inner-asd">
              <a v-for="item in adverList" :key="item.id" :href="item.jump_url"><img :src="item.image"></a>
            </div>
          </div>
          <!--live-inner-box end-->
        </div>
        <!--live-inner-fr end-->
      </div>
    </div>
    <!--live-detail end-->
    <!--我要投诉弹出-->
    <div class="sy-alert bond-pop animated" sy-enter="zoomIn" sy-leave="zoomOut" sy-type="confirm" sy-mask="true"
      id="tsCont">
      <div class="bond-content">
        <div class="bond-close" @click="onQuery"></div>
        <div class="bond-tit">我要投诉</div>
        <div class="pay-item">
          <div class="f-20 m-b-10">投诉详情</div>
          <div class="pay-item-text">
            <textarea class="text f-16" v-model="tsCont" placeholder="请输入您要反馈的内容..." rows="3"></textarea>
          </div>
        </div>
        <div class="pay-item f-20 clearfix">
          <div class="label">被投诉人：</div>
          <div class="item-r">{{noticeCont.nickname}}</div>
        </div>
        <div class="pay-item f-20 clearfix">
          <div class="label">您想要：</div>
          <div class="item-r">
            <div class="pay-item-radio fl m-r-40">
              <input class="radio" type="radio" value="1" name="agree">
              <span>平台接入</span>
            </div>
          </div>
        </div>
        <div class="pay-item f-20 clearfix">
          <div class="label">联系方式：</div>
          <div class="item-r">
            <div class="pay-item-input w220">
              <input class="input f-18" type="text" placeholder="请输入联系方式" v-model="phone">
            </div>
          </div>
        </div>
        <div class="register-check clearfix">
          <div class="check-input fl" @click="onxyClick">
            <input class="check" type="checkbox">
            <span class="span"></span>
          </div>
          <div class="fl f-16">我已阅读并同意<a class="color-orange" href="/rule/bwgz.html" target="_blank">《玻玻摸佛网榜文需求规则》</a>
          </div>
        </div>
        <div class="last-bottom text-c">
          <button class="bond-btn mar-auto" @click="onComplaintClick">确认提交</button>
        </div>
      </div>
    </div>
  </div>
  <!--live-container end-->
  <!-- 公共底部 -->
  <footer class="public-footer"></footer>
  <script src="/js/common.js"></script>
  <script src="/js/live/liveCont.js"></script>
</body>

</html>