<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <title>发布榜文</title>
  <link rel="stylesheet" href="/plugins/date/jedate.css" />
  <script src="/plugins/date/jedate.js"></script>
  <script src="/plugins/upload/imgFileupload.js"></script>

  <link rel="stylesheet" href="/plugins/element-ui/element-ui.min.css" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/plugins/animate.min.css" />
  <link rel="stylesheet" href="/plugins/syalert/syalert.min.css" />
  <link rel="stylesheet" href="/plugins/swiper/swiper.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/plugins/layui/css/layui.css" />

  <script src="/plugins/babel-polyfill.min.js"></script>
  <script src="/plugins/layui/layui.js"></script>
  <script src="/plugins/jsencrypt.js"></script>
  <script src="/plugins/jquery.min.js"></script>
  <script src="/plugins/swiper/swiper.min.js"></script>
  <script src="/plugins/syalert/syalert.min.js"></script>
  <script src="/plugins/vue.min.js"></script>
  <script src="/plugins/qrcode.min.js"></script>
  <script src="/plugins/qs.min.js"></script>
  <script src="/plugins/element-ui/element-ui.min.js"></script>

  <script src="https://cdn.bootcdn.net/ajax/libs/ali-oss/6.17.1/aliyun-oss-sdk.min.js"></script>
  <script src="/plugins/axios.min.js"></script>
  <script src="/utils/request.js"></script>
  <script src="/utils/util.js"></script>
  <style>
    .input-w {
      border: 1px solid #cccccc;
      border-radius: 4px;
      padding: 0px 10px;
      width: 300px;
    }

    .input-w input {
      height: 48px;
    }

    .publish-content .pay-l {
      display: block;
    }

    /* 上传封面图 */
    .publish-up-head {
      display: flex;
    }

    .publish-up-head .cover-image {
      width: 160px;
      height: 160px;
    }

    /* 附件列表 */
    .affix-list {
      /* background: pink; */
      color: #666;
    }

    .affix-list .affix-item {
      /* background: #eee; */
      margin: 10px 0;
      display: flex;
      align-items: center;
    }

    .affix-list .affix-item .close-icon {
      width: 16px;
      height: 16px;
      margin: 0 10px;
      transform: rotate(45deg);
      background: url('/images/pub31.png') no-repeat center;
      background-size: 100% 100%;
      cursor: pointer;
    }

    .affix-list .affix-item .close-icon:hover {
      background: url('/images/bank4.png') no-repeat center;
      background-size: 100% 100%;
    }

    /* 隐藏 element-ui 对话框的标题栏 */
    .el-dialog .el-dialog__header {
      display: none;
    }

    .el-dialog .el-dialog__body {
      padding: 0;
    }
  </style>
</head>

<body>
  <!-- 公共头部 -->
  <header class="public-header"></header>
  <!--publish-container start-->
  <div class="publish-container" id="app">
    <deposit-dialog ref="depositDialog"></deposit-dialog>
    <!--inner-position start-->
    <div class="inner-position w-1200">
      <a href="/index.html">首页</a>
      <span>&lt; </span>
      <span class="current"> 发布榜文</span>
    </div>
    <!--inner-position end-->
    <!--publish-head start-->
    <div class="publish-head w-1200">
      <div class="content clearfix">
        <div class="head-li li1">
          <div class="t">1.榜文发布中</div>
          <div class="icon"></div>
        </div>
        <div class="head-line"></div>
        <div class="head-li li2">
          <div class="t">2.榜文审核中</div>
          <div class="icon"></div>
        </div>
        <div class="head-line"></div>
        <div class="head-li li3">
          <div class="t">3.应榜中</div>
          <div class="icon"></div>
        </div>
        <div class="head-line"></div>
        <div class="head-li li4">
          <div class="t">4.应榜结束</div>
          <div class="icon"></div>
        </div>
        <div class="head-line"></div>
        <div class="head-li li5">
          <div class="t">5.工作中</div>
          <div class="icon"></div>
        </div>
        <div class="head-line"></div>
        <div class="head-li li6">
          <div class="t">6.任务结束</div>
          <div class="icon"></div>
        </div>
      </div>
    </div>
    <!--publish-head end-->
    <!--publish-main start-->
    <div class="publish-main w-1200">
      <h1 class="publish-tit">发布榜文</h1>
      <!--publish-content start-->
      <div class="publish-content">
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">发布类型：</div>
          <div class="con">
            <div class="live-bor w420">
              <select class="select rate-100" v-model="formData.type">
                <option :value="item.id" v-for="item in typeList">{{item.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <!--publish-item end-->
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">发布标题：</div>
          <div class="con">
            <div class="live-bor">
              <input type="text" v-model="formData.title" class="input rate-100" placeholder="请输入发布内容标题" />
            </div>
          </div>
        </div>
        <!--publish-item end-->
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">服务分类：</div>
          <div class="con">
            <div class="live-bor w420">
              <select class="select rate-100" v-model="formData.b_id">
                <option :value="item.id" v-for="item in cateList">{{item.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <!--publish-item end-->
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">酬金额度：</div>
          <div class="con">
            <div class="live-bor w420">
              <input type="text" v-model="totalMoney" class="input rate-100" placeholder="请输入金额" />
            </div>
          </div>
        </div>
        <!--publish-item end-->
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">酬金托管：</div>
          <div class="con">
            <div class="live-bor w420">
              <select class="select rate-100" v-model="formData.is_trustee">
                <option :value="item.id" v-for="item in trusteeList">{{item.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <!--publish-item end-->
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">支付方式：</div>
          <div class="con">
            <div class="live-bor w420 fl">
              <select class="select rate-100" v-model="formData.pay_num_type" @change="getpaynumSelected">
                <option :value="item.id" v-for="item in payList">{{item.name}}</option>
              </select>
            </div>
            <div class="more-pay" v-if="formData.pay_num_type==2">
              <div class="pay-l fl">
                <select class="select w170" v-model="formData.pay_num" @change="getCouponSelected">
                  <option :value="item" v-for="item in num">{{item}}次</option>
                </select>
              </div>
              <div class="pay-l fl">
                <select class="select w170" v-model="formData.more_type">
                  <option :value="item.id" v-for="item in moreList">{{item.name}}</option>
                </select>
              </div>
              <div class="pay-l fl" v-for="item,i in ordeList" :key="item">
                <span class="pay-name">第{{item.id}}次</span>
                <input type="text" v-if="formData.more_type==1" readonly class="input w170" v-model="item.num"
                  placeholder="请输入金额" />
                <input type="text" v-if="formData.more_type==2" class="input w170" v-model="item.num"
                  placeholder="请输入金额" />
              </div>
            </div>
          </div>
        </div>
        <!--publish-item end-->
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">中榜模式：</div>
          <div class="con">
            <div class="live-bor w420 fl">
              <select class="select rate-100" v-model="formData.win_type">
                <option :value="item.id" v-for="item in winList">{{item.name}}</option>
              </select>
            </div>
            <div class="pay-l fl" v-if="formData.win_type==2">
              <input class="input w170" v-model="formData.win_num" type="number" min="2" placeholder="请输入人数"
                style="margin-right: 10px" />人
            </div>
          </div>
        </div>
        <!--publish-item end-->
        <div class="item-tit">任务周期</div>
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">任务起止 时间：</div>
          <div class="con">
            <div class="date-input fl">
              <input id="signUpStartDate" type="text" :value="formData.task_start_time" class="input w400"
                placeholder="YYYY-MM-DD" />
            </div>
            <div class="item-line fl"></div>
            <div class="date-input fl">
              <input type="text" class="input w400" :value="formData.task_end_time" id="signUpEndDate"
                placeholder="YYYY-MM-DD" />
            </div>
          </div>
        </div>
        <!--publish-item end-->
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">截止报名 时间：</div>
          <div class="con">
            <div class="date-input fl">
              <input type="text" class="input w400" :value="formData.signup_start_time" id="startDate1"
                placeholder="YYYY-MM-DD" />
            </div>
            <div class="item-line fl"></div>
            <div class="date-input fl">
              <input type="text" class="input w400" :value="formData.signup_end_time" id="endDate2"
                placeholder="YYYY-MM-DD" />
            </div>
          </div>
        </div>
        <!--publish-item end-->
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">
            <span class="item-tit">榜文详情</span>
          </div>
          <div class="con">
            <div class="item-tip">注意：为保证隔热信息安全，减少骚扰，请不要透露个人联系方式！</div>
          </div>
        </div>
        <!--publish-item end-->
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">榜文详情：</div>
          <div class="con">
            <div class="detail-text">
              <textarea class="text" v-model="formData.detail" rows="5"
                placeholder="请输入详细描述，例如：详细讲解围棋布局套路，常见套路分解"></textarea>
            </div>
          </div>
        </div>
        <!--publish-item end-->
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">上传封面</div>
          <div class="con">
            <div class="item-tip">封面尺寸320*180px</div>
            <!--封面start-->
            <div class="publish-up-head">
              <div id="drop_area">
                <div class="preview" id="uploadCover">
                  <img src="/images/pub21.png" v-if="!this.coverImage.url" />
                  <img class="cover-image" :src="this.coverImage.url" v-else />
                </div>
              </div>
            </div>
            <!--封面end-->
          </div>
        </div>
        <!--publish-item end-->
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">上传附件</div>
          <div class="con">
            <div class="item-tip">注意：最多上传五个附件。每个附件不超过2M，仅支持png、jpg、pdf、word、excel格式</div>
            <div class="cert-up clearfix">
              <input id="affix" type="file" accept=".png,.jpg,.jpeg,.webp,.pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx"
                multiple hidden handle @change="handleAffixFileChange" />
              <div class="imgClick publish-load fl">
                <label for="affix">
                  <img src="/images/pub22.png" />
                </label>
              </div>
              <div class="affix-list">
                <div class="affix-item" v-for="(item, index) in affixList">
                  <span class="close-icon" @click="handleDeleteAffix(index)"></span>
                  <span class="name">{{item.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--publish-item end-->
        <div class="item-tit">联系方式（选填）<span class="tip">确保交易安全，防止受骗，请通过玻坡摸佛平台交易！</span></div>
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">手机号：</div>
          <div class="con">
            <div class="live-bor w420">
              <input type="text" v-model="formData.mobile" class="input rate-100" placeholder="请输入已认证的手机号" />
            </div>
          </div>
        </div>
        <!--publish-item end-->
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">QQ号：</div>
          <div class="con">
            <div class="live-bor w420">
              <input type="text" v-model="formData.qq" class="input rate-100" placeholder="请输QQ号" />
            </div>
          </div>
        </div>
        <!--publish-item end-->
        <!--publish-item start-->
        <div class="publish-item clearfix">
          <div class="label">邮箱号：</div>
          <div class="con">
            <div class="live-bor w420">
              <input type="text" v-model="formData.email" class="input rate-100" placeholder="请输入邮箱" />
            </div>
          </div>
        </div>
        <!--publish-item end-->
        <div class="publish-check">
          <div class="check fl" @click="onXuanzhongClick">
            <input class="check-input" type="checkbox" />
            <span class="check-s"></span>
          </div>
          <span>我已阅读并同意</span>
          <a class="color-orange" href="/rule/bwgz.html" target="_blank">《玻坡摸佛榜文（需求）规则》</a>
        </div>
        <div class="publish-bottom">
          <button class="publish-btn" @click="onBtnClick">提交</button>
        </div>
      </div>
      <!--publish-content end-->
    </div>
    <!--publish-main end-->
  </div>
  <!--publish-container end-->
  <!-- 保证金对话框（包含保证金对话框、钱包支付对话框、支付宝支付对话框、微信支付对话框 -->
  <div id="depositDialog" style="position: absolute; width: 0; height: 0; overflow: hidden">
    <!-- 单个根元素 -->
    <div>
      <!-- 保证金对话框 -->
      <el-dialog custom-class="bond-pop animated" :visible="depositDialogVisible" :show-close="false">
        <div class="bond-content">
          <div class="bond-close" @click="handleCloseDepositDialog"></div>
          <div class="bond-tit">保证金</div>
          <div class="bond-tip">本平台发布任务，需要保证金，才能享有权益 支付后个人中心可查看，随时可退</div>
          <div class="bond-price">保证金：<span class="color-red">￥{{depositAmount}}</span></div>
          <div class="bond-pay">
            <div class="t">选择支付方式</div>
            <div class="con clearfix">
              <label class="li">
                <input type="radio" class="bond-radio" name="payMethod" value="1" v-model.number="payMethod" />
                <span class="radio-s"><img src="/images/pub14.png" /></span>
              </label>

              <label class="li">
                <input type="radio" class="bond-radio" name="payMethod" value="2" v-model.number="payMethod" />
                <span class="radio-s"><img src="/images/pub19.png" /></span>
              </label>

              <label class="li">
                <input type="radio" class="bond-radio" name="payMethod" value="3" v-model.number="payMethod" />
                <span class="radio-s"><img src="/images/pub13.png" /></span>
              </label>
            </div>
          </div>

          <div class="last-bottom">
            <button class="bond-btn" @click="confirmPayDeposit">确认并支付</button>
          </div>
        </div>
      </el-dialog>

      <!-- 钱包支付对话框 -->
      <el-dialog custom-class="wallet-pop w850 animated" :visible="walletPayDialogVisible" :show-close="false">
        <div class="wallet-con">
          <div class="wallet-close" @click="handleCloseWalletPayDialog"></div>
          <div class="t">钱包支付</div>
          <div class="wallet-mid">
            <div class="money">支付金额：<span class="price color-red">￥{{payAmount}}</span></div>
            <div class="wallet-label">输入支付密码<a class="wallet-a fr color-gray" href="/userCont/wallet/pwd.html"
                target="_blank">忘记密码？</a></div>
            <div class="wallet-input">
              <input class="input" type="password" v-model.trim="payPassword" />
            </div>
          </div>
          <div class="wallet-bottom">
            <button class="wallet-btn" @click="handleSubmitWalletPay">确定</button>
          </div>
        </div>
      </el-dialog>

      <!-- 支付宝支付对话框 -->
      <el-dialog custom-class="wallet-pop animated" :visible="alipayPayDialogVisible" :show-close="false" width="600px">
        <div class="wallet-con">
          <div class="wallet-close" @click="handleCloseAlipayPayDialog"></div>
          <div class="t">支付宝支付</div>
          <div class="money">支付金额：<span class="price color-red">￥{{payAmount}}</span></div>
          <div class="con clearfix">
            <div class="wx-g">
              <!-- <img :src="alipayPayQrcode" /> -->
              <div id="alipayPayQrcode"></div>
              <div class="tip">请使用支付宝“扫一扫”,扫描二维码支付</div>
            </div>
            <div class="wx-i">
              <img src="/images/pub-alipay.png" />
            </div>
          </div>
        </div>
      </el-dialog>

      <!-- 微信支付对话框 -->
      <el-dialog custom-class="wallet-pop animated" :visible="wechatPayDialogVisible" :show-close="false" width="600px">
        <div class="wallet-con">
          <div class="wallet-close" @click="handleCloseWechatPayDialog"></div>
          <div class="t">微信支付</div>
          <div class="money">支付金额：<span class="price color-red">￥{{payAmount}}</span></div>
          <div class="con clearfix">
            <div class="wx-g">
              <!-- <img :src="wechatPayQrcode" /> -->
              <div id="wechatPayQrcode"></div>
              <div class="tip">请使用微信“扫一扫”,扫描二维码支付</div>
            </div>
            <div class="wx-i">
              <img src="/images/pub1.jpg" />
            </div>
          </div>
        </div>
      </el-dialog>
    </div>
  </div>
  <!-- 公共底部 -->
  <footer class="public-footer"></footer>
  <script src="/js/common.js"></script>
  <script src="/js/bangwen/addList.js"></script>
</body>

</html>
