<!DOCTYPE html>
<!-- 发布比赛个人赛设置阶段 -->
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>发布比赛 - 玻坡摸佛</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/plugins/syalert/syalert.min.css" />
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" />
    <link rel="stylesheet" href="/plugins/element-ui/element-ui.min.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <script src="/plugins/babel-polyfill.min.js"></script>
    <script src="/plugins/vue.min.js"></script>
    <script src="/plugins/qs.min.js"></script>
    <script src="/plugins/axios.min.js"></script>
    <script src="/plugins/jsencrypt.js"></script>
    <script src="/plugins/aliyun-oss-sdk.min.js"></script>
    <script src="/plugins/jquery.min.js"></script>
    <script src="/plugins/syalert/syalert.min.js"></script>
    <script src="/plugins/layui/layui.js"></script>
    <script src="/plugins/element-ui/element-ui.min.js"></script>

    <script src="/utils/request.js"></script>
    <script src="/utils/util.js"></script>
    <style>
      /* 临时 */
      .temp-pre {
        position: fixed;
        top: 100px;
        right: 0;
        bottom: 50px;
        background: rgba(255, 192, 203, 0.5);
        overflow: scroll;
        max-width: 500px;
        /* opacity: 0.7; */
        z-index: 10000;
        padding: 10px;
      }

      /* 隐藏时间选择控件不需要的分、秒 */
      /* 隐藏分 */
      .laydate-time-list > li:nth-child(2) ol li {
        display: none;
      }
      /* 显示 00 分和 30 分*/
      .laydate-time-list > li:nth-child(2) ol li:nth-child(1),
      .laydate-time-list > li:nth-child(2) ol li:nth-child(31) {
        display: list-item;
      }
      /* 隐藏秒 */
      .laydate-time-list > li:nth-child(3) ol li {
        display: none;
      }

      /* 日期时间选择器（触发打开日期时间选择器的元素） */
      .date-time-picker {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #999;
      }
      .date-time-picker .date-time {
        color: #333;
      }

      .select.grey {
        color: #999;
      }
      .select.grey option:not([disabled]) {
        color: #333;
      }
      .item-select.ranking-system select {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <!-- 公共头部 -->
    <header class="public-header"></header>

    <!--publish-container start-->
    <div id="app" class="publish-container">
      <!-- 临时 -->
      <pre class="temp-pre">
        <!-- <div>competitionId:{{competitionId}}</div>
        <div>{{competitionStage}}</div>
        <div>{{competitionDetail}}</div>
        <div>{{formData}}</div>
        <div>system1Rule:{{system1Rule}}</div>
        <div>system2Rule:{{system2Rule}}</div> -->
        <div>rankingSystemSelected:{{rankingSystemSelected}}</div>
      </pre>

      <!-- 面包屑导航 -->
      <div class="inner-position w-1200">
        <a href="/">首页</a>
        <span> &lt; </span>
        <span class="current">发布比赛</span>
      </div>

      <!--publish-head start-->
      <div class="publish-head w-1200">
        <div class="content clearfix">
          <div class="head-li li1 on">
            <div class="t">1.设置赛事公告信息</div>
            <div class="icon" @click="handleTest"></div>
          </div>
          <div class="head-line"></div>
          <div class="head-li li2 on">
            <div class="t">2.设置赛事比赛方法</div>
            <div class="icon"></div>
          </div>
          <div class="head-line"></div>
          <div class="head-li li3">
            <div class="t">3.设置赛事奖励</div>
            <div class="icon"></div>
          </div>
        </div>
      </div>
      <!--publish-head end-->

      <div class="publish-main w-1200">
        <h1 class="publish-tit">发布比赛</h1>
        <!-- 主要内容 -->
        <div class="publish-content">
          <!-- 阶段名称列表 -->
          <div class="publish-stage clearfix">
            <div
              class="stage-li fl"
              :class="{
              on: item === competitionStage.stage_name
            }"
              v-for="(item, index) in competitionStageNameList"
              :key="index"
            >
              {{item}}
            </div>
          </div>

          <!-- 阶段名称 -->
          <div class="publish-item clearfix">
            <div class="label"><span class="color-red">*</span>阶段名称：</div>
            <div class="con">
              <div class="stage-t">{{competitionStage.stage_name}}</div>
            </div>
          </div>

          <!-- 阶段时间 -->
          <div class="publish-item clearfix">
            <div class="label"><span class="color-red">*</span>阶段时间：</div>
            <div class="con">
              <div class="bor clearfix">
                <div ref="stageStartDate" class="date-time-picker input w400 fl">
                  <span class="date-time" v-if="stageStartDate">{{stageStartDate}}</span>
                  <span v-else>{{'开始时间'}}</span>
                </div>

                <span class="date-mid fl">至</span>

                <div ref="stageEndDate" class="date-time-picker input w400 fl">
                  <span class="date-time" v-if="stageEndDate">{{stageEndDate}}</span>
                  <span v-else>{{'结束时间'}}</span>
                </div>
              </div>
            </div>
          </div>

          <!-- 比赛制度 -->
          <div class="publish-item clearfix">
            <div class="label"><span class="color-red">*</span> 比赛制度：</div>
            <div class="con">
              <div class="item-radio clearfix">
                <label class="checkbox-li fl">
                  <input class="check-in" type="radio" name="system" value="1" :checked="formData.system === 1" @change="handleSelectSystem(1)" />
                  <span class="check-s">淘汰赛：</span>
                </label>
                <label class="radio-li fl">
                  <input class="radio" :disabled="formData.system !== 1" type="radio" name="system1Rule" value="1" v-model.number="system1Rule" />
                  <span class="span">单败淘汰</span>
                </label>
                <label class="radio-li fl">
                  <input class="radio" :disabled="formData.system !== 1" type="radio" name="system1Rule" value="2" v-model.number="system1Rule" />
                  <span class="span">双败淘汰</span>
                </label>
              </div>

              <div class="item-radio clearfix">
                <label class="checkbox-li fl">
                  <input class="check-in" type="radio" name="system" value="2" :checked="formData.system === 2" @change="handleSelectSystem(2)" />
                  <span class="check-s">循环赛：</span>
                </label>
                <label class="radio-li fl">
                  <input class="radio" type="radio" :disabled="formData.system !== 2" name="system2Rule" value="1" v-model.number="system2Rule" />
                  <span class="span">单循环赛</span>
                </label>
                <label class="radio-li fl">
                  <input class="radio" type="radio" :disabled="formData.system !== 2" name="system2Rule" value="2" v-model.number="system2Rule" />
                  <span class="span">双循环赛</span>
                </label>
              </div>

              <div class="publish-gray item-radio clearfix">
                <label class="radio-li fl">
                  <input class="radio" type="radio" :disabled="formData.system !== 2" name="arithmetic" value="1" v-model.number="formData.arithmetic" />
                  <span class="span">贝格尔法</span>
                </label>
                <label class="radio-li fl">
                  <input class="radio" type="radio" :disabled="formData.system !== 2" name="arithmetic" value="3" v-model.number="formData.arithmetic" />
                  <span class="span">顺时针转法</span>
                </label>
                <label class="radio-li fl">
                  <input class="radio" type="radio" :disabled="formData.system !== 2" name="arithmetic" value="2" v-model.number="formData.arithmetic" />
                  <span class="span">蛇形编排</span>
                </label>
                <label class="radio-li fl">
                  <input class="radio" type="radio" :disabled="formData.system !== 2" name="arithmetic" value="4" v-model.number="formData.arithmetic" />
                  <span class="span">逆时针转法</span>
                </label>
              </div>

              <div class="item-radio clearfix">
                <label class="checkbox-li fl">
                  <input class="check-in" type="radio" name="system" value="3" :checked="formData.system === 3" @change="handleSelectSystem(3)" />
                  <span class="check-s">其他赛制：</span>
                </label>
                <div class="item-b fl">
                  <input type="text" :disabled="formData.system !== 3" class="input" placeholder="请输入备注内容" v-model.trim="formData.system_memo" />
                </div>
              </div>
            </div>
          </div>

          <!-- 分组数 -->
          <div class="publish-item clearfix">
            <div class="label"><span class="color-red">*</span>分组数：</div>
            <div class="con">
              <input type="number" class="input w400" placeholder="请输入分组数" v-model.number="formData.group_num" />
              <span class="stage-c">组</span>
            </div>
          </div>

          <!-- 每组晋级/ 淘汰人数 -->
          <div class="publish-item clearfix">
            <div class="label"><span class="color-red">*</span>每组晋级/ 淘汰人数：</div>
            <div class="con">
              <select
                class="select w190"
                :class="{
                grey: !formData.rank_or_week
              }"
                v-model.number="formData.rank_or_week"
              >
                <option value="" disabled selected>请选择</option>
                <option value="1">晋级</option>
                <option value="2">淘汰</option>
              </select>
              <input type="number" class="input w400" placeholder="请设置人数" v-model.number="formData.people_num" />
              <span class="stage-c">人</span>
            </div>
          </div>

          <!-- 比赛形式 -->
          <div class="publish-item clearfix">
            <div class="label"><span class="color-red">*</span>比赛形式：</div>
            <div class="con">
              <div class="stage-t">选手规则</div>
              <div class="item-radio clearfix">
                <div class="stage-c fl">参赛选手分组：</div>
                <label class="radio-li fl">
                  <input class="radio" type="radio" name="groupWay" value="1" v-model.number="formData.group_way" />
                  <span class="span">按种子分组</span>
                </label>
                <label class="radio-li fl">
                  <input class="radio" type="radio" name="groupWay" value="2" v-model.number="formData.group_way" />
                  <span class="span">随机分组</span>
                </label>
                <label class="radio-li fl">
                  <input class="radio" type="radio" name="groupWay" value="3" v-model.number="formData.group_way" />
                  <span class="span">同队或同单位限制</span>
                </label>
                <label class="radio-li fl">
                  <input class="radio" type="radio" name="groupWay" value="4" v-model.number="formData.group_way" />
                  <span class="span">地区分组</span>
                </label>
              </div>

              <div class="item-radio clearfix">
                <div class="stage-c fl">参赛选手参赛号：</div>
                <label class="radio-li fl">
                  <input class="radio" type="radio" name="competitionNum" value="1" v-model.number="formData.competition_num" />
                  <span class="span">按等级分</span>
                </label>
                <label class="radio-li fl">
                  <input class="radio" type="radio" name="competitionNum" value="2" v-model.number="formData.competition_num" />
                  <span class="span">按技术水平</span>
                </label>
                <label class="radio-li fl">
                  <input class="radio" type="radio" name="competitionNum" value="3" v-model.number="formData.competition_num" />
                  <span class="span">随机分号</span>
                </label>
              </div>

              <div class="item-b" style="margin-left: 140px">
                说明
                <input type="text" class="input" placeholder="补充说明（备注线上游戏平台）" v-model.trim="formData.group_memo" />
              </div>

              <div class="stage-t">先后手</div>
              <div class="item-radio clearfix">
                <div class="stage-c fl">首轮：</div>
                <label class="radio-li fl">
                  <input class="radio" type="radio" name="beforeAfter" value="1" v-model.number="formData.before_after" />
                  <span class="span">猜先</span>
                </label>
                <label class="radio-li fl">
                  <input class="radio" type="radio" name="beforeAfter" value="2" v-model.number="formData.before_after" />
                  <span class="span">按约定</span>
                </label>
              </div>
              <div class="item-radio clearfix">
                <div class="stage-c fl">其余轮次：</div>
                <label class="radio-li fl">
                  <input class="radio" type="radio" name="surplus" value="1" v-model="formData.surplus" />
                  <span class="span">按约定</span>
                </label>
              </div>
            </div>
          </div>

          <!-- 设置计分规则 -->
          <div class="publish-item clearfix" v-if="formData.system === 1 || formData.system === 2">
            <div class="label"><span class="color-red">*</span>设置计分规则：</div>
            <div class="con">
              <div class="stage-t">个人赛：</div>

              <div class="item-b mar-r15">
                每台赛局数
                <input type="number" class="input w160" placeholder="请输入" v-model.number="formData.sai_num" />
                局
              </div>

              <div class="clearfix" v-if="formData.system === 2">
                <div class="item-b fl mar-r15">
                  胜
                  <input type="number" class="input w160" placeholder="请输入" v-model.number="formData.win_score" />
                  分
                </div>
                <div class="item-b fl mar-r15">
                  平
                  <input type="number" class="input w160" placeholder="请输入" v-model.number="formData.dogfall_score" />
                  分
                </div>
                <div class="item-b fl mar-r15">
                  负
                  <input type="number" class="input w160" placeholder="请输入" v-model.number="formData.defeated_score" />
                  分
                </div>
              </div>

              <div class="clearfix" v-if="formData.system === 2">
                <div class="item-b fl mar-r15">
                  弃权
                  <input type="number" class="input w160" placeholder="请输入" v-model.number="formData.waiver_score" />
                  分
                </div>
                <div class="item-b fl mar-r15">
                  犯规
                  <input type="number" class="input w160" placeholder="请输入" v-model.number="formData.illegality_score" />
                  分
                </div>
              </div>

              <div class="stage-c" v-if="formData.system === 2">平分名次排列：优先级从左到右排列</div>

              <div class="item-select ranking-system" v-if="formData.system === 2">
                <select
                  class="select"
                  :value="rankingSystemSelected[selectIndex] || ''"
                  @change="handleSelectRankingSystem(event, selectIndex)"
                  v-show="rankingSystemList2[selectIndex]"
                  v-for="(selectItem, selectIndex) in rankingSystemList"
                  :key="selectIndex"
                >
                  <option value="" disabled selected>选择</option>
                  <option :value="item.value" v-for="(item, index) in rankingSystemList2[selectIndex]" :key="index">{{item.label}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="publish-bottom">
            <button class="publish-btn" @click="handleNextStep">下一步</button>
          </div>
        </div>
      </div>
    </div>
    <!--publish-container end-->

    <!-- 公共底部 -->
    <footer class="public-footer"></footer>

    <script src="/js/bangwen/competitionStagePersonal.js"></script>
  </body>
</html>
