<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/plugins/animate.min.css" />
  <link rel="stylesheet" href="/plugins/syalert/syalert.min.css" />
  <link rel="stylesheet" href="/plugins/swiper/swiper.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/plugins/layui/css/layui.css">

  <script src="/plugins/babel-polyfill.min.js"></script>
  <script src="/plugins/layui/layui.js"></script>
  <script src="/plugins/jsencrypt.js"></script>
  <script src="/plugins/jquery.min.js"></script>
  <script src="/plugins/swiper/swiper.min.js"></script>
  <script src="/plugins/syalert/syalert.min.js"></script>
  <script src="/plugins/vue.min.js"></script>

  <script src="/plugins/axios.min.js"></script>
  <script src="/utils/request.js"></script>
</head>

<body>
  <!-- 公共头部 -->
  <header class="public-header"></header>
  <!--rank-container start-->
  <div class="rank-container" id="app">
    <!--inner-position start-->
    <div class="inner-position w-1200">
      <a href="">首页 </a>
      <span>&lt; </span>
      <a href="./index.html"> 榜文大厅 </a>
      <span>&lt; </span>
      <a class="current" href=""> 平台公告</a>
    </div>
    <!--inner-position end-->
    <!--rank-choice start-->
    <div class="rank-choice">
      <div class="w-1200">
        <!--rank-hd start-->
        <div class="rank-hd clearfix">
          <div class="label fl">筛选分类：</div>
          <div class="con">
            <div v-for="item in cateList" :key="item.id" :class="item.id==cateId?'active':''" class="rank-hd-a"
              @click="onCateClick(item.id)">{{item.name}}</div>
          </div>
        </div>
        <!--rank-hd end-->
        <!--rank-hd start-->
        <div class="rank-hd clearfix">
          <div class="label fl">服务模式：</div>
          <div class="con">
            <div v-for="item in navList" :key="item.id" :class="item.id==type?'active':''" class="rank-hd-a"
              @click="onNavClick(item.id)">{{item.title}}</div>
          </div>
        </div>
        <!--rank-hd end-->
        <!--rank-hd start-->
        <div class="rank-hd clearfix">
          <div class="label fl">支付方式：</div>
          <div class="con">
            <div v-for="item in payList" :key="item.id" :class="item.id==payId?'active':''" class="rank-hd-a"
              @click="onPayClick(item.id)">{{item.title}}</div>
          </div>
        </div>
        <!--rank-hd end-->
        <!--rank-hd start-->
        <div class="rank-hd clearfix">
          <div class="label fl">中榜模式：</div>
          <div class="con">
            <div v-for="item in winList" :key="item.id" :class="item.id==winId?'active':''" class="rank-hd-a"
              @click="onWinClick(item.id)">{{item.title}}</div>
          </div>
        </div>
        <!--rank-hd end-->
        <!--rank-hd start-->
        <div class="rank-hd clearfix">
          <div class="label fl">酬金托管：</div>
          <div class="con">
            <a class="rank-hd-a active" href="">不限</a>
            <a class="rank-hd-a " href="">已托管</a>
            <a class="rank-hd-a" href="">未托管</a>
          </div>
        </div>
        <!--rank-hd end-->
        <!--rank-hd start-->
        <div class="rank-hd clearfix">
          <div class="label fl">酬金额度：</div>
          <div class="con">
            <a class="rank-hd-a active" href="">不限</a>
            <a class="rank-hd-a " href="">100以下</a>
            <a class="rank-hd-a" href="">100-500</a>
            <a class="rank-hd-a" href="">500-1000</a>
          </div>
        </div>
        <!--rank-hd end-->
      </div>
    </div>
    <!--rank-choice end-->
    <div class="rank-wrap">
      <!--index-sec2 start-->
      <div class="index-sec2 w-1200">
        <!--rank-hd start-->
        <div class="rank-hd clearfix">
          <div class="label fl">排序方式：</div>
          <div class="con">
            <div v-for="item in sortList" :key="item.id" class="rank-hd-a" :class="item.id==sortId?'active':''"
              @click="onSortClick(item.id)">{{item.title}}</div>
          </div>
        </div>
        <!--rank-hd end-->
        <div class="index-sec2-content clearfix">
          <!--index-sec2-item start-->
          <div class="index-sec2-item" v-for="item in bangList" :key="item.id">
            <div class="bor">
              <a href="榜文大厅教棋更多详情.html">
                <div class="img-w"><img :src="item.image"></div>
                <div class="li-h clearfix">
                  <span class="hs">{{item.name}}</span>
                  <div class="ht">{{item.title}}</div>
                </div>
                <div class="li-tags">
                  <span class="gs" v-if="item.pay_num_type==1">一次付清</span>
                  <span class="gs" v-else>多次付清</span>
                  <span class="gs" v-if="item.win_type==1">单人中榜</span>
                  <span class="gs" v-else>多人中榜</span>
                  <span class="gs" v-if="item.is_trustee==1">托管</span>
                  <span class="gs" v-else>不托管</span>
                </div>
                <div class="li-date">任务周期：<span>{{item.task_start_time}}至{{item.task_end_time}}</span></div>
                <div class="li-date">报名截止日期：<span>{{item.signup_end_time}}</span></div>
                <div class="li-price">酬金：<span class="price">￥{{item.total_money}}</span></div>
                <div class="li-c clearfix">
                  <div class="li-private fl">
                    <img :src="item.avatar">
                    <div class="name">{{item.nickname}}</div>
                  </div>
                  <div class="last fr" v-if="item.type==1">教课</div>
                  <div class="last fr" v-if="item.type==2">学课</div>
                </div>
              </a>
            </div>
          </div>
          <!--index-sec2-item end-->
        </div>
        <!--main-pages start-->
        <div class="main-pages">
          <a class="pages-a" href="">首页</a>
          <a class="pages-a" href="">上一页</a>
          <a class="pages-a" href="">1</a>
          <a class="pages-a" href="">2</a>
          <a class="pages-a" href="">3</a>
          <span class="pages-s">. . .</span>
          <a class="pages-a" href="">下一页</a>
          <span class="pages-s">共100页</span>
          <span class="pages-s">到第</span>
          <input class="pages-input" type="text" value="12">
          <span class="pages-s">页</span>
          <a class="pages-a" href="">尾页</a>
        </div>
        <!--main-pages end-->
      </div>
      <!--index-sec2 end-->
    </div>
  </div>
  <!--rank-container end-->
  <!-- 公共底部 -->
  <footer class="public-footer"></footer>
  <script src="/js/common.js"></script>
  <script src="/js/bangwen/hallMore.js"></script>
</body>

</html>
