<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <title>榜文大厅 - 玻坡摸佛</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/plugins/animate.min.css" />
  <link rel="stylesheet" href="/plugins/syalert/syalert.min.css" />
  <link rel="stylesheet" href="/plugins/swiper/swiper.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/plugins/layui/css/layui.css">

  <script src="/plugins/babel-polyfill.min.js"></script>
  <script src="/plugins/layui/layui.js"></script>
  <script src="/plugins/jsencrypt.js"></script>
  <script src="/plugins/jquery.min.js"></script>
  <script src="/plugins/swiper/swiper.min.js"></script>
  <script src="/plugins/syalert/syalert.min.js"></script>
  <script src="/plugins/vue.min.js"></script>

  <script src="/plugins/axios.min.js"></script>
  <script src="/utils/request.js"></script>
</head>

<body>
  <!-- 公共头部 -->
  <header class="public-header"></header>
  <div id="app">
    <!--cooper-banner start-->
    <div class="cooper-banner w-1200">
      <div id="certify">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="cooper-banner-img">
                <img src="/images/m5.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="cooper-banner-img">
                <img src="/images/coo1.jpg" />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="cooper-banner-img">
                <img src="/images/coo1.jpg" />
              </div>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
    <!--cooper-banner end-->
    <!--index-sec2 start-->
    <div class="index-sec2 w-1200 rank-mar40">
      <div class="index-sec2-content clearfix">
        <!--index-sec2-asd start-->
        <div class="index-sec2-asd h418">
          <div class="con">
            <h2 class="t">学课榜文大厅</h2>
            <div class="en">fuwubangwen</div>
            <a class="rank-asd-a" href="发布榜文.html">我要发布学课</a>
          </div>
        </div>
        <!--index-sec2-asd end-->
        <!--index-sec2-item start-->
        <div class="index-sec2-item">
          <div class="bor">
            <a href="榜文大厅详情.html">
              <div class="img-w"><img src="/images/index41.png" /></div>
              <div class="li-h clearfix">
                <span class="hs">五子棋</span>
                <div class="ht">五子棋潜龙棋局怎么破解</div>
              </div>
              <div class="li-tags">
                <span class="gs">一次付清</span>
                <span class="gs">单人中榜</span>
                <span class="gs">不托管</span>
              </div>
              <div class="li-date">任务周期：<span>2021-04-26至2021-04-29</span></div>
              <div class="li-date">报名截止日期：<span>2021-04-26</span></div>
              <div class="li-price">酬金：<span class="price">￥15263</span></div>
              <div class="li-c clearfix">
                <div class="li-private fl">
                  <img src="/images/index22.png" />
                  <div class="name">赛亚</div>
                </div>
                <div class="last fr">学棋</div>
              </div>
            </a>
          </div>
        </div>
        <!--index-sec2-item end-->
        <!--index-sec2-item start-->
        <div class="index-sec2-item">
          <div class="bor">
            <a href="榜文大厅详情.html">
              <div class="img-w"><img src="/images/index41.png" /></div>
              <div class="li-h clearfix">
                <span class="hs">五子棋</span>
                <div class="ht">五子棋潜龙棋局怎么破解</div>
              </div>
              <div class="li-tags">
                <span class="gs">一次付清</span>
                <span class="gs">单人中榜</span>
                <span class="gs">不托管</span>
              </div>
              <div class="li-date">任务周期：<span>2021-04-26至2021-04-29</span></div>
              <div class="li-date">报名截止日期：<span>2021-04-26</span></div>
              <div class="li-price">酬金：<span class="price">￥15263</span></div>
              <div class="li-c clearfix">
                <div class="li-private fl">
                  <img src="/images/index22.png" />
                  <div class="name">赛亚</div>
                </div>
                <div class="last fr">学棋</div>
              </div>
            </a>
          </div>
        </div>
        <!--index-sec2-item end-->
        <!--index-sec2-item start-->
        <div class="index-sec2-item">
          <div class="bor">
            <a href="榜文大厅详情.html">
              <div class="img-w"><img src="/images/index41.png" /></div>
              <div class="li-h clearfix">
                <span class="hs">五子棋</span>
                <div class="ht">五子棋潜龙棋局怎么破解</div>
              </div>
              <div class="li-tags">
                <span class="gs">一次付清</span>
                <span class="gs">单人中榜</span>
                <span class="gs">不托管</span>
              </div>
              <div class="li-date">任务周期：<span>2021-04-26至2021-04-29</span></div>
              <div class="li-date">报名截止日期：<span>2021-04-26</span></div>
              <div class="li-price">酬金：<span class="price">￥15263</span></div>
              <div class="li-c clearfix">
                <div class="li-private fl">
                  <img src="/images/index22.png" />
                  <div class="name">赛亚</div>
                </div>
                <div class="last fr">学棋</div>
              </div>
            </a>
          </div>
        </div>
        <!--index-sec2-item end-->
      </div>
      <a class="rank-more" href="榜文大厅-学棋更多.html">查看更多 ></a>
    </div>
    <!--index-sec2 end-->
    <!--index-sec2 start-->
    <div class="index-sec2 w-1200 rank-mar40">
      <div class="index-sec2-content clearfix">
        <!--index-sec2-asd start-->
        <div class="index-sec2-asd h418">
          <div class="con">
            <h2 class="t">教课榜文大厅</h2>
            <div class="en">jiaoxuebangwen</div>
            <a class="rank-asd-a" href="">我要发布教课</a>
          </div>
        </div>
        <!--index-sec2-asd end-->
        <!--index-sec2-item start-->
        <div class="index-sec2-item" v-for="item in bangList" :key="item.id">
          <div class="bor">
            <a href="榜文大厅教棋更多详情.html">
              <div class="img-w"><img :src="item.image"></div>
              <div class="li-h clearfix">
                <span class="hs">{{item.name}}</span>
                <div class="ht">{{item.title}}</div>
              </div>
              <div class="li-tags">
                <span class="gs" v-if="item.pay_num_type==1">一次付清</span>
                <span class="gs" v-else>多次付清</span>
                <span class="gs" v-if="item.win_type==1">单人中榜</span>
                <span class="gs" v-else>多人中榜</span>
                <span class="gs" v-if="item.is_trustee==1">托管</span>
                <span class="gs" v-else>不托管</span>
              </div>
              <div class="li-date">任务周期：<span>{{item.task_start_time}}至{{item.task_end_time}}</span></div>
              <div class="li-date">报名截止日期：<span>{{item.signup_end_time}}</span></div>
              <div class="li-price">酬金：<span class="price">￥{{item.total_money}}</span></div>
              <div class="li-c clearfix">
                <div class="li-private fl">
                  <img :src="item.avatar">
                  <div class="name">{{item.nickname}}</div>
                </div>
                <div class="last fr">教课</div>
              </div>
            </a>
          </div>
        </div>
        <!--index-sec2-item end-->
      </div>
      <a class="rank-more" href="./hallMore.html">查看更多 ></a>
    </div>
    <!--index-sec2 end-->
  </div>

  <!-- 公共底部 -->
  <footer class="public-footer"></footer>
  <script src="/js/common.js"></script>
  <script src="/js/bangwen/index.js"></script>
  <script>
    certifySwiper = new Swiper('#certify .swiper-container', {
      watchSlidesProgress: true,
      slidesPerView: 'auto',
      centeredSlides: true,
      loop: true,
      loopedSlides: 3,
      autoplay: 5000, //可选选项，自动滑动
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      on: {
        progress: function (progress) {
          for (i = 0; i < this.slides.length; i++) {
            var slide = this.slides.eq(i)
            var slideProgress = this.slides[i].progress
            modify = 1
            if (Math.abs(slideProgress) > 1) {
              modify = (Math.abs(slideProgress) - 1) * 0.3 + 1
            }
            translate = slideProgress * modify * 430 + 'px'
            scale = 1 - Math.abs(slideProgress) / 3
            zIndex = 999 - Math.abs(Math.round(10 * slideProgress))
            slide.transform('translateX(' + translate + ') scale(' + scale + ')')
            slide.css('zIndex', zIndex)
            slide.css('opacity', 1)
            if (Math.abs(slideProgress) > 1) {
              slide.css('opacity', 0)
            }
          }
        },
        setTransition: function (transition) {
          for (var i = 0; i < this.slides.length; i++) {
            var slide = this.slides.eq(i)
            slide.transition(transition)
          }
        },
      },
    })
  </script>
</body>

</html>
