<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>我的直播</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/plugins/animate.min.css" />
  <link rel="stylesheet" href="/plugins/syalert/syalert.min.css" />
  <link rel="stylesheet" href="/plugins/swiper/swiper.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/plugins/layui/css/layui.css" />
  <link rel="stylesheet" href="/plugins/date/jedate.css" />
  <link rel="stylesheet" href="/plugins/element-ui/element-ui.min.css" />

  <script src="/plugins/babel-polyfill.min.js"></script>
  <script src="/plugins/date/jedate.js"></script>
  <script src="/plugins/layui/layui.js"></script>
  <!-- <script src="/plugins/jsencrypt.js"></script> -->
  <script src="/plugins/jquery.min.js"></script>
  <script src="/plugins/swiper/swiper.min.js"></script>
  <script src="/plugins/syalert/syalert.min.js"></script>
  <script src="/plugins/vue.min.js"></script>
  <script src="/plugins/element-ui/element-ui.min.js"></script>
  <script src="/plugins/clipboard.min.js"></script>
  <script src="/plugins/httpVueLoader.js"></script>
  <script src="/plugins/axios.min.js"></script>
  <script src="/plugins/aliyun-oss-sdk.min.js"></script>
  <script src="/utils/request.js"></script>
  <script src="/utils/util.js"></script>
  <style>
    .handle-btn {
      cursor: pointer;
    }

    /* 隐藏 element-ui 对话框的标题栏 */
    .el-dialog .el-dialog__header {
      display: none;
    }

    .el-dialog .el-dialog__body {
      padding: 0;
    }
  </style>
</head>

<body>
  <!-- 公共头部 -->
  <header class="public-header"></header>
  <!--center-container start-->
  <div class="center-container">
    <!--main-center start-->
    <div class="main-center w-1200 clearfix">
      <div class="public-user"></div>
      <!--center-content start-->
      <div class="center-content fr" id="app">
        <!--center-inner start-->
        <div class="center-inner">
          <div class="center-inner-tit">发起直播</div>
          <!--center-inner-content start-->
          <div class="center-inner-content">
            <!--center-order-state start-->
            <div class="center-order-state m-b-20 clearfix">
              <div v-for="item in navList" :key="item.id" class="li" :class="item.id==navId?'active':''">
                <a href="javascript:void(0);" @click="onNavClick(item.id)">{{item.name}}</a>
              </div>
            </div>
            <!--center-order-state end-->
            <!--center-inner-form start-->
            <div class="center-inner-form wallet-search clearfix">
              <div class="form-bor">
                <select class="select w130" v-model="type">
                  <option :value="item.id" v-for="item in navsList">{{item.title}}</option>
                </select>
              </div>
              <div class="form-bor m-l-20">
                <input id="signUpStartDate" type="text" :value="start_time" class="input common-date-input w130"
                  placeholder="开始时间" />
              </div>
              <div class="form-bor m-l-20">
                <input type="text" class="input common-date-input w130" :value="end_time" id="signUpEndDate"
                  placeholder="结束时间" />
              </div>
              <button class="form-btn m-l-20" @click="onClick">查询</button>
            </div>
            <!--center-inner-form end-->
            <!--center-inner-table-wrap start-->
            <div class="center-inner-table-wrap">
              <table class="center-inner-table center-order-table">
                <tr>
                  <th>直播主题</th>
                  <th>直播类型</th>
                  <th>开播时间</th>
                  <th>直播时长</th>
                  <th>审核状态</th>
                  <th>操作</th>
                </tr>
                <tr v-for="item in pushList" :key="item.id">
                  <td>
                    <div class="center-order-flex">
                      <img class="center-order-img" :src="item.image">
                      <p class="center-order-txt m-l-10">{{item.title}}</p>
                    </div>
                  </td>
                  <td>
                    <p>{{item.name}}</p>
                    <!-- 1课程直播，2赛事直播 -->
                    <p v-if="item.type==1">课程直播</p>
                    <p v-if="item.type==2">赛事直播</p>
                    <!-- 1申请进入（需要发布者审核），2全网公开，3会员公开，4设置密码 -->
                    <p v-if="item.join_type==1">申请进入</p>
                    <p v-if="item.join_type==2">全网公开</p>
                    <p v-if="item.join_type==3">会员公开</p>
                    <p v-if="item.join_type==4">密码进入</p>
                  </td>
                  <td>
                    <p>{{item.start_time}}</p>
                    至
                    <p>{{item.end_time}}</p>
                  </td>
                  <td>预计{{item.fen}}分钟</td>
                  <!-- -2审核未通过，-1审核中，1审核通过，2已开播，3已结束 -->
                  <td v-if="item.status=='-2'">未通过<p class="color-blue" @click="onliveClick(item)">查看原因</p>
                  </td>
                  <td v-if="item.status=='-1'">审核中</td>
                  <td v-if="item.status==1">待开播</td>
                  <td v-if="item.status==2">
                    <p class="color-blue">直播中</p>
                  </td>
                  <td v-if="item.status==3">已结束</td>
                  <td v-if="item.status=='-1'||item.status==3">
                    <div class="handle text-c">
                      <a class="handle-btn blue" :href="'./notice.html?id='+item.id">查看详情</a>
                    </div>
                  </td>
                  <td v-if="item.status==1">
                    <div class="handle text-c">
                      <div class="handle-btn m-r-10" @click="onBroadcast(item)">开始直播</div>
                      <div class="handle-btn red m-r-10" @click="onQuery(item)">取消直播</div>
                      <a class="handle-btn blue" :href="'./notice.html?id='+item.id">查看详情</a>
                    </div>
                  </td>
                  <td v-if="item.status==2">
                    <div class="handle text-c">
                      <div class="handle-btn m-r-10" @click="onEndClick(item)">结束直播</div>
                      <a class="handle-btn blue m-r-10" :href="'./liveCont.html?id='+item.id">审核人员</a>
                      <a class="handle-btn blue" :href="'/live/liveCont.html?id='+item.id">去直播间</a>
                    </div>
                  </td>
                  <td v-if="item.status=='-2'">
                    <div class="handle text-c">
                      <a class="handle-btn blue m-r-10" href="CenterLive.html">修改直播</a>
                      <a class="handle-btn red m-r-10" href="javascript:void(0);" @click="onQuery(item)">取消直播</a>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <!--center-inner-table-wrap end-->
          </div>
          <!--center-inner-content end-->
        </div>
        <!--center-inner end-->
        <!--开启直播弹出-->
        <div class="sy-alert bond-pop animated" sy-enter="zoomIn" sy-leave="zoomOut" sy-type="confirm" sy-mask="true"
          id="liveCont">
          <div class="bond-content">
            <div class="bond-close" onClick="syalert.syhide('liveCont')"></div>
            <div class="bond-tit">开启直播</div>
            <!--bond-item start-->
            <div class="bond-item clearfix">
              <div class="label">推流地址：</div>
              <div class="item-r">
                <div class="bor">
                  <div class="text" id="url" v-text="liveCont.push_url" ref="copytext">{{liveCont.push_url}}</div>
                  <div class="copy" @click="copyUrl">复制地址</div>
                </div>
              </div>
            </div>
            <!--bond-item end-->
            <div class="bond-mtip">请复制地址后到推流平台</div>
            <div class="bond-mtip">关闭后可到-个人中心-我的直播-重新开启直播</div>
            <div class="bond-bottom">
              <button class="bond-btn" @click="onBtnClick">确认</button>
            </div>
          </div>
        </div>
        <!-- 原因对话框 -->
        <el-dialog custom-class="bond-pop animated" :visible="reasonDialogVisible" :show-close="false" width="500px">
          <div class="bond-content">
            <div class="bond-close" @click="handleCloseCheckReasonDialog"></div>
            <div class="bond-tit">未通过原因</div>
            <div class="text-c m-t-40">
              <div class="f-16">{{reasonContent}}</div>
            </div>
            <div class="last-bottom text-c">
              <button class="bond-btn mar-auto" @click="handleCloseCheckReasonDialog">确定</button>
            </div>
          </div>
        </el-dialog>
      </div>
      <!--center-content end-->
    </div>
    <!--main-center end-->
  </div>
  <!--center-container end-->
  <!-- 公共底部 -->
  <footer class="public-footer"></footer>
  <script src="/js/common.js"></script>
  <script src="/js/userCont/live/myLive.js"></script>
</body>

</html>
