<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>实名认证</title>
  <script src="/plugins/upload/upload.js"></script>

  <link rel="stylesheet" href="/plugins/date/jedate.css">
  <script src="/plugins/date/jedate.js"></script>
  <script src="/plugins/upload/imgFileupload.js"></script>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/plugins/animate.min.css" />
  <link rel="stylesheet" href="/plugins/syalert/syalert.min.css" />
  <link rel="stylesheet" href="/plugins/swiper/swiper.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/plugins/layui/css/layui.css">

  <script src="/plugins/babel-polyfill.min.js"></script>
  <script src="/plugins/layui/layui.js"></script>
  <script src="/plugins/jsencrypt.js"></script>
  <script src="/plugins/jquery.min.js"></script>
  <script src="/plugins/swiper/swiper.min.js"></script>
  <script src="/plugins/syalert/syalert.min.js"></script>
  <script src="/plugins/vue.min.js"></script>

  <script src="/plugins/axios.min.js"></script>
  <script src="/utils/request.js"></script>
</head>

<body>
  <!-- 公共头部 -->
  <header class="public-header"></header>
  <!--center-container start-->
  <div class="center-container">
    <!--main-center start-->
    <div class="main-center w-1200 clearfix">
      <div class="public-user"></div>
      <!--center-content start-->
      <div class="center-content fr" id="app">
        <!--center-inner start-->
        <!-- 未提交 -->
        <div class="center-inner" v-if="userCont.check_status=='-2'">
          <div class="center-inner-tit">实名认证</div>
          <!--center-inner-content start-->
          <div class="center-inner-content">
            <!--center-set start-->
            <div class="center-set">
              <div class="set-tip">请填写真实的资料</div>
              <!--set-item start-->
              <div class="set-item clearfix">
                <div class="label">姓名：</div>
                <div class="item-r">
                  <div class="set-bor w548">
                    <input class="input" type="text" v-model="formData.name" placeholder="请填写本人姓名">
                  </div>
                </div>
              </div>
              <!--set-item end-->
              <!--set-item start-->
              <div class="set-item clearfix">
                <div class="label">身份证号：</div>
                <div class="item-r">
                  <div class="set-bor w548">
                    <input class="input" type="text" v-model="formData.idcard" placeholder="请输入银行卡号">
                  </div>
                </div>
              </div>
              <!--set-item end-->
              <!--set-item start-->
              <div class="set-item clearfix">
                <div class="label">身份证照片：</div>
                <div class="item-r">
                  <!--身份证上传start-->
                  <div class="set-up-id clearfix">
                    <div class="set-id" id="id-1">
                      <div class="preview" id='uploadCover' @click="initCoverImageFileChange">
                        <img src="/images/set1.png" class="img-responsive" v-if="!formData.front_image" />
                        <img :src="formData.front_image" class="img-responsive" v-else />
                      </div>
                      <p class="tip">上传身份证正面</p>
                    </div>
                    <div class="set-id" id="id-2">
                      <div class="preview"><img src="/images/set2.png" class="img-responsive" alt="" title=""> </div>
                      <p class="tip">上传身份证反面</p>
                    </div>
                    <div class="set-id" id="id-3">
                      <div class="preview"><img src="/images/set3.png" class="img-responsive" alt="" title=""> </div>
                      <p class="tip">上传手持身份证</p>
                    </div>
                    <script src="/plugins/singleUp.js"></script>
                    <script type="text/javascript">
                      var dragImgUpload = new DragImgUpload("#id-1", {
                        callback: function (files) {
                          //回调函数，可以传递给后台等等
                          var file = files[0];
                          console.log(file.name);
                        }
                      })
                      var dragImgUpload = new DragImgUpload("#id-2", {
                        callback: function (files) {
                          //回调函数，可以传递给后台等等
                          var file = files[0];
                          console.log(file.name);
                        }
                      })
                      var dragImgUpload = new DragImgUpload("#id-3", {
                        callback: function (files) {
                          //回调函数，可以传递给后台等等
                          var file = files[0];
                          console.log(file.name);
                        }
                      })
                    </script>
                  </div>
                  <!--身份证end-->
                </div>
              </div>
              <!--set-item end-->
              <div class="set-bot">
                <button class="center-set-btn" @click="onBtnClick">提交</button>
              </div>
            </div>
            <!--center-set end-->
          </div>
          <!--center-inner-content end-->
        </div>
        <!-- 实名成功 -->
        <div class="center-inner" v-if="userCont.check_status==1">
          <div class="center-inner-tit">实名认证</div>
          <!--center-inner-content start-->
          <div class="center-inner-content">
            <!--center-set start-->
            <div class="center-set">
              <div class="center-set-success">已实名认证</div>
              <div class="center-profile">
                <div class="profile-li">姓名：{{userCont.name}}</div>
                <div class="profile-li">身份照片：{{userCont.idcard}}</div>
                <div class="profile-li">身份证照片：
                  <div class="profile-li-img">
                    <img class="profile-img" :src="userCont.front_image">
                    <img class="profile-img" :src="userCont.back_image">
                    <img class="profile-img" :src="userCont.hand_image">
                  </div>
                </div>
              </div>
            </div>
            <!--center-set end-->
          </div>
          <!--center-inner-content end-->
        </div>
        <!-- 审核中 -->
        <div class="center-inner" v-if="userCont.check_status==0">
          <div class="center-inner-tit">实名认证</div>
          <!--center-inner-content start-->
          <div class="center-inner-content">
            <!--center-set start-->
            <div class="center-set">
              <div class="center-set-exa">资料已提交，认证审核中</div>
              <div class="center-profile">
                <div class="profile-li">姓名：{{userCont.name}}</div>
                <div class="profile-li">身份照片：{{userCont.idcard}}</div>
                <div class="profile-li">身份证照片：
                  <div class="profile-li-img">
                    <img class="profile-img" :src="userCont.front_image">
                    <img class="profile-img" :src="userCont.back_image">
                    <img class="profile-img" :src="userCont.hand_image">
                  </div>
                </div>
              </div>
            </div>
            <!--center-set end-->
          </div>
          <!--center-inner-content end-->
        </div>
        <!-- 审核失败 -->
        <div class="center-inner" v-if="userCont.check_status=='-1'">
          <div class="center-inner-tit">实名认证</div>
          <!--center-inner-content start-->
          <div class="center-inner-content">
            <!--center-set start-->
            <div class="center-set">
              <div class="center-set-fail">
                <span>审核失败，请重新认证</span>
                <button class="set-fail-btn m-l-40" @click="userCont.check_status='-2'">重新上传</button>
              </div>
              <div class="center-profile">
                <div class="profile-li">姓名：{{userCont.name}}</div>
                <div class="profile-li">身份照片：{{userCont.idcard}}</div>
                <div class="profile-li">身份证照片：
                  <div class="profile-li-img">
                    <img class="profile-img" :src="userCont.front_image">
                    <img class="profile-img" :src="userCont.back_image">
                    <img class="profile-img" :src="userCont.hand_image">
                  </div>
                </div>
              </div>
            </div>
            <!--center-set end-->
          </div>
          <!--center-inner-content end-->
        </div>
        <!--center-inner end-->
      </div>
      <!--center-content end-->
    </div>
    <!--main-center end-->
  </div>
  <!--center-container end-->
  <!-- 公共底部 -->
  <footer class="public-footer"></footer>
  <script src="/js/common.js"></script>
  <script src="/js/userCont/setup/realName.js"></script>
</body>

</html>
