<!--main-header start-->
<div class="main-header">
  <!--header-top start-->
  <div class="header-top">
    <div class="w-1200 clearfix">
      <div class="top-fl fl">
        <div class="top-welcome fl">欢迎您来到玻坡摸佛</div>
        <div class="top-nav fl">
          <a href="">发布榜文</a>
          <a href="">发起直播</a>
          <a href="">发布比赛</a>
        </div>
      </div>
      <div class="top-fr fr">
        <div class="top-nav fl">
          <a href="">消息中心</a>
        </div>
        <div class="top-login fl">
          <a class="log-a" href="javascript:void(0);" onClick="syalert.syopen('alert1')">登录</a>
          <span class="log-s">|</span>
          <a class="log-a" href="register.html">注册</a>
        </div>
      </div>
    </div>
  </div>
  <!--header-top end-->
  <!--header start-->
  <div class="header w-1200 clearfix">
    <div class="header-logo fl">
      <a href="/"><img src="/images/logo.png"></a>
    </div>
    <div class="header-nav fl">
      <ul class="nav">
        <li class="current"><a href="/">首页</a> </li>
        <li><a href="/bangwen/index.html">榜文大厅</a> </li>
        <li><a href="3赛事频道.html">赛事频道</a> </li>
        <li><a href="4直播频道.html">直播频道</a> </li>
        <li><a href="合作吧.html">合作吧</a> </li>
        <li><a href="帮助中心.html">帮助中心</a> </li>
      </ul>
    </div>
    <!--header-search start-->
    <div class="header-search fl">
      <div class="search-select fl">
        <select class="select">
          <option>榜文</option>
        </select>
      </div>
      <div class="search-input fl">
        <input type="text" class="input" placeholder="请输入关键词">
      </div>
      <button class="search-btn fr">搜索</button>
    </div>
    <!--header-search end-->
    <!--header-sub start-->
    <div class="header-sub fr">
      <span class="span-name">我要发布</span>
      <div class="sub-down">
        <a class="sub-down-a" href="发布榜文.html">发布榜文</a>
        <a class="sub-down-a" href="发布比赛个人.html">发布赛事</a>
        <a class="sub-down-a" href="发布直播.html">发布直播</a>
      </div>
    </div>
    <!--header-sub end-->
  </div>
  <!--header end-->
</div>
<!--main-header end-->