<script src="/plugins/jquery.min.js"></script>
<script src="/plugins/jsencrypt.js"></script>
<!--main-header start-->
<div class="main-header" id="Header">
  <!--header-top start-->
  <div class="header-top">
    <div class="w-1200 clearfix">
      <div class="top-fl fl">
        <div class="top-welcome fl">欢迎您来到玻坡摸佛</div>
        <div class="top-nav fl">
          <a href="/bangwen/addList.html">发布榜文</a>
          <a href="">发起直播</a>
          <a href="/bangwen/releaseCompetition.html">发布比赛</a>
        </div>
      </div>
      <div class="top-fr fr" v-if="userShow">
        <div class="top-nav fl">
          <a href="">榜文管理</a>
          <a href="">赛事管理</a>
          <a href="">消息中心</a>
        </div>
        <div class="top-person fr">
          <div class="top-person-img clearfix">
            <img src="/images/index13.png" />
            <span class="name">棋王1245</span>
          </div>
          <div class="top-person-down">
            <div class="down-hd clearfix">
              <a href="/userCont/bangwen/addCont.html">
                <img class="img" src="/images/index5.png" />
                <div class="txt">
                  <div class="t">棋王1245</div>
                  <div class="c"><img src="/images/VIP.png" /></div>
                </div>
              </a>
              <button class="top-quit fr" @click="onSignout">退出</button>
            </div>
            <div class="down-bd">
              <div class="down-bd-box">
                <span class="prev">上一张</span>
                <dl id="roll">
                  <dd>
                    <a class="down-bd-a" href="">
                      <img src="/images/icon11.jpg" />
                    </a>
                  </dd>
                  <dd>
                    <a class="down-bd-a" href="">
                      <img src="/images/icon12.jpg" />
                    </a>
                  </dd>
                  <dd>
                    <a class="down-bd-a" href="">
                      <img src="/images/icon13.jpg" />
                    </a>
                  </dd>
                  <dd>
                    <a class="down-bd-a" href="">
                      <img src="/images/icon11.jpg" />
                    </a>
                  </dd>
                  <dd>
                    <a class="down-bd-a" href="">
                      <img src="/images/icon11.jpg" />
                    </a>
                  </dd>
                  <dd>
                    <a class="down-bd-a" href="">
                      <img src="/images/icon11.jpg" />
                    </a>
                  </dd>
                </dl>
                <span class="next">下一张</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="top-fr fr" v-else>
        <div class="top-nav fl">
          <a href="">消息中心</a>
        </div>
        <div class="top-login fl">
          <a class="log-a" href="javascript:void(0);" onClick="syalert.syopen('alert1')">登录</a>
          <span class="log-s">|</span>
          <a class="log-a" href="/register.html">注册</a>
        </div>
      </div>
    </div>
  </div>
  <!--header-top end-->
  <!--个人中心头部-->
  <div class="header w-1200 clearfix" v-if="userHeadShow">
    <div class="header-logo fl">
      <a href="/index.html"><img src="/images/logo.png" /></a>
    </div>
    <div class="center-nav fl">
      <ul class="nav">
        <li><a href="/index.html">网站首页</a></li>
        <li class="current"><a href="">个人中心</a></li>
        <li>
          <a href="">账户设置<i class="icon"></i></a>
          <div class="nav-sub">
            <a href="">个人信息</a>
            <a href="">密码修改</a>
            <a href="/userCont/setup/realName.html">实名认证</a>
          </div>
        </li>
      </ul>
    </div>
    <!--header-search start-->
    <div class="header-search fr">
      <div class="search-select fl">
        <select class="select">
          <option>榜文</option>
        </select>
      </div>
      <div class="search-input fl">
        <input type="text" class="input" placeholder="请输入关键词" />
      </div>
      <button class="search-btn fr">搜索</button>
    </div>
    <!--header-search end-->
  </div>
  <!--个人中心头部-->
  <!--外面-->
  <div class="header w-1200 clearfix" v-else>
    <div class="header-logo fl">
      <a href="/index.html"><img src="/images/logo.png" /></a>
    </div>
    <div class="header-nav fl">
      <ul class="nav">
        <li :class="homeShow?'current':''"><a href="/index.html">首页</a></li>
        <li :class="hallShow?'current':''"><a href="/bangwen/index.html">榜文大厅</a></li>
        <li><a href="/race-channel/index.html">赛事频道</a></li>
        <li><a href="/competition/competition.html">直播频道</a></li>
        <li :class="cooperationShow?'current':''"><a href="/cooperate/index.html">合作吧</a></li>
        <li :class="helpShow?'current':''"><a href="/help/index.html">帮助中心</a></li>
      </ul>
    </div>
    <!--header-search start-->
    <div class="header-search fl">
      <div class="search-select fl">
        <select class="select">
          <option>榜文</option>
        </select>
      </div>
      <div class="search-input fl">
        <input type="text" class="input" placeholder="请输入关键词" />
      </div>
      <button class="search-btn fr">搜索</button>
    </div>
    <!--header-search end-->
    <!--header-sub start-->
    <div class="header-sub fr">
      <span class="span-name">我要发布</span>
      <div class="sub-down-wrap">
        <div class="sub-down">
          <a class="sub-down-a" href="/bangwen/addList.html">发布榜文</a>
          <a class="sub-down-a" href="/bangwen/releaseCompetition.html">发布赛事</a>
          <a class="sub-down-a" href="发布直播.html">发布直播</a>
        </div>
      </div>
    </div>
    <!--header-sub end-->
  </div>
  <!--外面-->
</div>
<!--main-header end-->
<!-- 登录弹窗 -->
<div class="sy-alert index-login animated" sy-enter="zoomIn" sy-leave="zoomOut" sy-type="confirm" sy-mask="true" id="alert1">
  <div class="index-login-hd clearfix">
    <div class="login-li on">密码登录</div>
    <div class="login-li">短信登录</div>
  </div>
  <div class="index-login-bd">
    <div class="login-box active">
      <div class="login-item">
        <input class="input password" v-model="mobile" type="text" placeholder="请输入手机号" />
      </div>
      <div class="login-item">
        <i data-show="1" class="eye-icon eye-open"></i>
        <input name="" v-model="pwd" type="password" class="input mima_dd" placeholder="请输入登录密码" />
        <input name="" v-model="pwd" type="text" class="input mima_wz" style="display: none" placeholder="请输入登录密码" />
      </div>
      <div class="login-forget clearfix">
        <a class="color-orange" href="/register.html">立即注册</a>
        <a class="color-gray fr" href="/password1.html">忘记密码？</a>
      </div>
      <div class="login-bottom">
        <button class="login-btn" @click="onLogin">立即登录</button>
      </div>
    </div>
    <div class="login-box">
      <div class="login-item">
        <input class="input" v-model="mobile" type="text" placeholder="请输入手机号" />
      </div>
      <div class="login-item">
        <input class="input" v-model="code" type="text" placeholder="请输入验证码" />
        <button class="ver-btn" @click="onCode" v-if="codeTxt=='获取验证码'">{{codeTxt}}</button>
        <button class="ver-btn" v-else>{{codeTxt}}</button>
      </div>
      <div class="login-forget clearfix">
        <a class="color-orange" href="/register.html">立即注册</a>
        <a class="color-gray fr" href="/password1.html">忘记密码？</a>
      </div>
      <div class="login-bottom">
        <button class="login-btn" @click="onCodeLogin">立即登录</button>
      </div>
    </div>
  </div>
  <div class="index-login-other">
    <div class="tit">第三方登录</div>
    <div class="wx">
      <a href="javascript:void(0)" onClick="syalert.syopen('alert2')||ok('alert1')"><img src="/images/icon-wx.png" /></a>
    </div>
  </div>
</div>
<!-- 微信登录弹窗 -->
<div class="sy-alert index-login animated" sy-enter="zoomIn" sy-leave="zoomOut" sy-type="confirm" sy-mask="true" id="alert2">
  <div class="login-wx">
    <div class="wx-close" onClick="ok('alert2')"></div>
    <div class="wx-tit">微信扫码登录</div>
    <div class="wx-img"><img src="/images/wx.png" /></div>
    <div class="wx-tip">用手机APP扫下方二维码登录，扫码后在手机 上点击“确认授权”即可</div>
    <div class="wx-bot clearfix">
      <a class="wx-btn fl" href="javascript:void(0);" onClick="syalert.syopen('alert1')||ok('alert2')">密码登录</a>
      <a class="wx-btn fr" href="javascript:void(0);" onClick="syalert.syopen('alert1')||ok('alert2')">短信登录</a>
    </div>
  </div>
</div>
<script src="/js/common.js"></script>
<script src="/js/components/PublicHeader.js"></script>
<script>
  function ok(id) {
    syalert.syhide(id)
  }
</script>
