<!DOCTYPE html>
<!-- 个人中心 我参加的赛事 -->
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>我参加的赛事 - 玻坡摸佛</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/plugins/syalert/syalert.min.css" />
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" />
    <link rel="stylesheet" href="/plugins/element-ui/element-ui.min.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <script src="/plugins/babel-polyfill.min.js"></script>
    <script src="/plugins/vue.min.js"></script>
    <script src="/plugins/qs.min.js"></script>
    <script src="/plugins/axios.min.js"></script>
    <script src="/plugins/jsencrypt.js"></script>
    <script src="/plugins/aliyun-oss-sdk.min.js"></script>
    <script src="/plugins/jquery.min.js"></script>
    <script src="/plugins/syalert/syalert.min.js"></script>
    <script src="/plugins/layui/layui.js"></script>
    <script src="/plugins/element-ui/element-ui.min.js"></script>
    <script src="/plugins/qrcode.min.js"></script>

    <script src="/utils/request.js"></script>
    <script src="/utils/util.js"></script>

    <style>
      /* 临时 */
      /* 改变 layer 弹出层样式 */
      .layui-layer.layui-layer-page {
        background: rgba(255, 255, 255, 0.7);
        color: red;
        line-height: 2;
      }

      /* 隐藏 element-ui 对话框的标题栏 */
      .el-dialog .el-dialog__header {
        display: none;
      }
      .el-dialog .el-dialog__body {
        padding: 0;
      }

      /* 时间排序 */
      .time-sort {
        display: flex;
        align-items: center;
        height: 36px;
        cursor: pointer;
      }

      /* 赛事名称/赛事标题 */
      .competition-name {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .competition-name p {
        margin-top: 8px;
        width: 96px;
      }

      table.competition th,
      table.competition td {
        padding: 15px 2px;
      }
    </style>
  </head>
  <body>
    <!-- 公共头部 -->
    <header class="public-header"></header>

    <!--center-container start-->
    <div id="app" class="center-container">
      <!--main-center start-->
      <div class="main-center w-1200 clearfix">
        <!-- 公共侧边栏 -->
        <aside class="public-user"></aside>

        <!--center-content start-->
        <div class="center-content fr">
          <!--center-inner start-->
          <div class="center-inner">
            <div class="center-inner-tit clearfix">
              <a class="li-a fl m-r-40" :class="{ active: competitionType === 0 }" href="javascript:" @click="handleChangeCompetitionType(0)">个人赛</a>
              <a class="li-a fl m-r-40" :class="{ active: competitionType === 1 }" href="javascript:" @click="handleChangeCompetitionType(1)">团队赛</a>
            </div>

            <!-- 我参加的赛事 个人赛 -->
            <my-participated-competition-personal v-show="competitionType === 0"></my-participated-competition-personal>
            <!-- 我参加的赛事 团队赛 -->
            <my-participated-competition-team v-show="competitionType === 1"></my-participated-competition-team>
          </div>
          <!--center-inner end-->
        </div>
        <!--center-content end-->
      </div>
      <!--main-center end-->
    </div>
    <!--center-container end-->

    <!-- 我参加的赛事个人赛 - 组件模板 -->
    <div id="myParticipatedCompetitionPersonal" style="position: absolute; width: 0; height: 0; overflow: hidden">
      <div class="center-inner-content">
        <!-- 临时 -->
        <div id="personalCompetitionTemp">
          <div>赛事编号:{{searchOption.number}}</div>
          <div>赛事名称:{{searchOption.competition_name}}</div>
          <div>赛事排序:{{searchOption.sort}}</div>
        </div>

        <!-- 状态 tabs -->
        <div class="center-order-state m-b-20 clearfix">
          <div class="li" :class="{active: searchOption.apply_status === item.value}" v-for="(item, index) in statusList" :key="index" @click="handleChangeStatus(item.value)">
            <a href="javascript:">{{item.label}}</a>
          </div>
        </div>

        <!-- 筛选选项 -->
        <div class="center-inner-form wallet-search clearfix">
          <!-- 赛事编号 -->
          <div class="form-bor">
            <input class="input w130" type="number" placeholder="请输入赛事编号" v-model.trim="searchOption.number" />
          </div>

          <!-- 赛事名称 -->
          <div class="form-bor m-l-20">
            <input class="input w130" type="search" placeholder="请输入赛事名称" v-model.trim="searchOption.competition_name" />
          </div>

          <button class="form-btn fl m-l-20" @click="handleSearch">搜索</button>

          <div class="time-sort fl m-l-40" @click="handleSort">
            <span>报名时间&nbsp;</span>
            <img src="/images/sort-default.png" v-if="searchOption.sort === ''" />
            <img src="/images/sort-desc.png" v-if="searchOption.sort === 1" />
            <img src="/images/sort-asc.png" v-if="searchOption.sort === 2" />
          </div>
        </div>

        <!-- 赛事列表表格 -->
        <div class="center-inner-table-wrap">
          <table class="competition center-inner-table center-order-table">
            <tr>
              <th>编号</th>
              <th>赛事名称</th>
              <th>比赛类型</th>
              <th>奖金</th>
              <th>奖金支付</th>
              <th>人数</th>
              <th>参赛角色</th>
              <th>报名日期</th>
              <th>比赛日期</th>
              <th>阶段/轮次</th>
              <th>赛事状态</th>
              <th>报名状态</th>
              <th>操作</th>
            </tr>
            <tr v-for="(item, index) in competitionList" :key="item.id">
              <!-- 编号 -->
              <td>{{item.number}}</td>
              <!-- 赛事名称 -->
              <td>
                <div class="competition-name">
                  <img class="center-order-img" style="width: 96px; height: 54px" :src="item.cover_picture" />
                  <!-- <el-image style="width: 96px; height: 54px" :src="item.cover_picture" :preview-src-list="[item.cover_picture]"> </el-image> -->
                  <p class="ell2">{{item.competition_name}}</p>
                </div>
              </td>

              <!-- 比赛类型 -->
              <td>
                <p>{{item.category_name}}</p>
                <p v-if="item.competition_type === 0">个人赛</p>
                <p v-if="item.competition_type === 1">团队赛</p>
                <p v-if="item.way === 0">线下场地</p>
                <p v-if="item.way === 1">线上游戏平台</p>
              </td>

              <!-- 奖金 -->
              <td>
                <p>冠军：￥{{item.champion_money * 1}}</p>
                <p>亚军：￥{{item.runner_up_money * 1}}</p>
                <p>季军：￥{{item.third_winner_money * 1}}</p>
              </td>

              <!-- 奖金支付 -->
              <td>
                <p v-if="item.trusteeship === 1">通过bpmf网支付</p>
                <p v-if="item.trusteeship === 2">线下支付或者其他方式支付</p>
              </td>

              <!-- 人数 -->
              <td>
                <p>报名{{item.apply_number}}</p>
              </td>

              <!-- 参赛角色 -->
              <td>
                <p class="color-orange" v-if="item.role_id === 1">参赛选手</p>
                <p class="color-orange" v-if="item.role_id === 2">裁判</p>
                <p class="color-orange" v-if="item.role_id === 3">主裁判</p>
              </td>

              <!-- 报名日期 -->
              <td>
                <p>{{ item.a_b_t | timestampToDate }}</p>
                至
                <p>{{ item.a_e_t | timestampToDate }}</p>
              </td>

              <!-- 比赛日期 -->
              <td>
                <p>{{ item.c_b_t | timestampToDate }}</p>
                <p>至</p>
                <p>{{ item.c_e_t | timestampToDate }}</p>
              </td>

              <!-- 阶段/轮次 -->
              <td>
                <p v-if="item.status === 4">报名阶段</p>

                <!-- 比赛中或已结束 -->
                <p v-if="item.status === 6 || item.status === 7">第{{item.stage_ing}}/{{item.stage}}阶段</p>
                <p v-if="item.status === 6 || item.status === 7">第{{item.wheel}}轮</p>
              </td>

              <!-- 赛事状态 -->
              <td>
                <!-- 信息不完整/没有发布完 -->
                <!-- <p v-if="item.status === 0">——</p> -->

                <!-- <p class="color-orange" v-if="item.status === 1">待支付</p> -->
                <!-- <p class="color-orange" v-if="item.status === 2">审核中</p> -->

                <!-- <p class="color-red" v-if="item.status === 3">未通过</p> -->
                <!-- <a class="color-blue" href="javascript:" v-if="item.status === 3">查看原因</a> -->

                <p class="color-orange" v-if="item.status === 4">报名中</p>
                <p class="color-orange" v-else-if="item.status === 5">报名结束</p>
                <p class="color-orange" v-else-if="item.status === 6">比赛中</p>
                <p v-else-if="item.status === 7">已结束</p>

                <!-- <p class="color-red">比赛终止</p> -->
                <!-- <a class="color-blue" href="javascript:">查看原因</a> -->
              </td>

              <!-- 报名状态 -->
              <td>
                <p class="color-orange" v-if="item.apply_status === 0 && item.pay_status === 0">待支付</p>
                <p class="color-orange" v-if="item.apply_status === 0 && item.pay_status === 1">审核中</p>
                <p class="color-orange" v-if="item.apply_status === 1">未通过</p>
                <p class="color-orange" v-if="item.apply_status === 2">已通过</p>
                <p class="color-orange" v-if="item.apply_status === 3">已退赛</p>
                <p class="color-red" v-if="item.apply_status === 4">已禁赛</p>
              </td>

              <!-- 操作 -->
              <td>
                <div class="handle text-c">
                  <!-- 报名中或报名结束且待支付 -->
                  <p v-if="(item.status === 4 || item.status === 5) && item.apply_status === 0 && item.pay_status === 0">
                    <a class="handle-btn blue m-t-5" href="javascript:">立即支付</a>
                  </p>

                  <!-- 未通过 -->
                  <p class="color-orange" v-if="item.apply_status === 1">
                    <a class="handle-btn red m-t-5" href="javascript:">重新修改</a>
                  </p>

                  <!-- 报名中或报名结束 -->
                  <p class="color-orange" v-if="item.status === 4 || item.status === 5">
                    <a class="handle-btn blue m-t-5" :href="'/userCont/competition/applyDetail.html?apply_id=' + item.id">报名详情</a>
                  </p>
                  <!-- 比赛中或已结束 -->
                  <p class="color-orange" v-if="item.status === 6 || item.status === 7">
                    <a class="handle-btn blue m-t-5" :href="'/userCont/competition/applyDetail.html?apply_id=' + item.id">查看详情</a>
                  </p>
                </div>
              </td>
            </tr>
            <!-- <tr>
              <td>
                <img class="center-order-img" src="/images/index12.png" />
                <p>三星杯荣耀决战赛</p>
              </td>
              <td>
                <p>象棋</p>
                <p>个人赛</p>
                <p>线下场地</p>
              </td>
              <td>
                <p>2021-10-12 12:00</p>
                至
                <p>2021-10-12 14:00</p>
              </td>
              <td>参赛人数 500</td>
              <td>
                <p>2021-10-12 12:00</p>
                <p>至</p>
                <p>2021-10-14 14:00</p>
              </td>
              <td>报名阶段</td>
              <td>
                <p class="color-orange">报名中</p>
              </td>
              <td>
                <div class="handle text-c">
                  <a class="handle-btn m-t-5" href="CenterMatch6.html">报名管理</a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img class="center-order-img" src="/images/index12.png" />
                <p>三星杯荣耀决战赛</p>
              </td>
              <td>
                <p>象棋</p>
                <p>个人赛</p>
                <p>线下场地</p>
              </td>
              <td>
                <p>2021-10-12 12:00</p>
                至
                <p>2021-10-12 14:00</p>
              </td>
              <td>参赛人数 500</td>
              <td>
                <p>2021-10-12 12:00</p>
                <p>至</p>
                <p>2021-10-14 14:00</p>
              </td>
              <td>报名阶段</td>
              <td>
                <p class="color-orange">报名结束</p>
              </td>
              <td>
                <div class="handle text-c">
                  <a class="handle-btn m-t-5" href="CenterMatch6.html">报名管理</a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img class="center-order-img" src="/images/index12.png" />
                <p>三星杯荣耀决战赛</p>
              </td>
              <td>
                <p>象棋</p>
                <p>个人赛</p>
                <p>线下场地</p>
              </td>
              <td>
                <p>2021-10-12 12:00</p>
                至
                <p>2021-10-12 14:00</p>
              </td>
              <td>参赛人数 500</td>
              <td>
                <p>2021-10-12 12:00</p>
                <p>至</p>
                <p>2021-10-14 14:00</p>
              </td>
              <td>报名阶段</td>
              <td>
                <p class="color-orange">比赛中</p>
              </td>
              <td>
                <div class="handle text-c">
                  <a class="handle-btn m-t-5" href="">赛事管理</a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img class="center-order-img" src="/images/index12.png" />
                <p>三星杯荣耀决战赛</p>
              </td>
              <td>
                <p>象棋</p>
                <p>个人赛</p>
                <p>线下场地</p>
              </td>
              <td>
                <p>2021-10-12 12:00</p>
                至
                <p>2021-10-12 14:00</p>
              </td>
              <td>参赛人数 500</td>
              <td>
                <p>2021-10-12 12:00</p>
                <p>至</p>
                <p>2021-10-14 14:00</p>
              </td>
              <td>报名阶段</td>
              <td>已结束</td>
              <td>
                <div class="handle text-c">
                  <a class="handle-btn m-t-5" href="">赛事管理</a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img class="center-order-img" src="/images/index12.png" />
                <p>三星杯荣耀决战赛</p>
              </td>
              <td>
                <p>象棋</p>
                <p>个人赛</p>
                <p>线下场地</p>
              </td>
              <td>
                <p>2021-10-12 12:00</p>
                至
                <p>2021-10-12 14:00</p>
              </td>
              <td>参赛人数 500</td>
              <td>
                <p>2021-10-12 12:00</p>
                <p>至</p>
                <p>2021-10-14 14:00</p>
              </td>
              <td>--</td>
              <td>
                <p class="color-red">未通过</p>
                <a class="color-blue" href="javascript:void(0)" onClick="syalert.syopen('alert3')">查看原因</a>
              </td>
              <td>
                <div class="handle text-c">
                  <p><a class="handle-btn blue m-t-5" href="CenterMatch.html">去修改</a></p>
                  <p><a class="handle-btn m-t-5" href="javascript:void(0)" onClick="syalert.syopen('alert2')">终止比赛</a></p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img class="center-order-img" src="/images/index12.png" />
                <p>三星杯荣耀决战赛</p>
              </td>
              <td>
                <p>象棋</p>
                <p>个人赛</p>
                <p>线下场地</p>
              </td>
              <td>
                <p>2021-10-12 12:00</p>
                至
                <p>2021-10-12 14:00</p>
              </td>
              <td>参赛人数 500</td>
              <td>
                <p>2021-10-12 12:00</p>
                <p>至</p>
                <p>2021-10-14 14:00</p>
              </td>
              <td>--</td>
              <td>
                <p class="color-red">比赛终止</p>
                <a class="color-blue" href="javascript:void(0)" onClick="syalert.syopen('alert3')">查看原因</a>
              </td>
              <td>
                <div class="handle text-c">
                  <a class="handle-btn blue m-t-5" href="">查看详情</a>
                </div>
              </td>
            </tr> -->
          </table>

          <div class="main-pages" v-if="competitionList.length">
            <el-pagination layout="prev, pager, next, total, jumper" :total="totalCount" prev-text="上一页" next-text="下一页" @current-change="handleChangeCurrentPage"></el-pagination>
          </div>
        </div>

        <!-- 原因对话框 -->
        <el-dialog custom-class="bond-pop animated" :visible="reasonDialogVisible" :show-close="false" width="500px">
          <div class="bond-content">
            <div class="bond-close" @click="handleCloseCheckReasonDialog"></div>
            <div class="bond-tit">未通过原因</div>
            <div class="text-c m-t-40">
              <div class="f-16">{{reasonContent}}</div>
            </div>
            <div class="last-bottom text-c">
              <button class="bond-btn mar-auto" @click="handleCloseCheckReasonDialog">确定</button>
            </div>
          </div>
        </el-dialog>

        <!-- 终止比赛对话框 -->
        <el-dialog custom-class="bond-pop animated" :visible="endCompetitionDialogVisible" :show-close="false">
          <div class="bond-content">
            <div class="bond-close" @click="handleCloseEndCompetitionDialog"></div>
            <div class="bond-tit">终止比赛</div>
            <div class="pay-item f-20 clearfix">比赛终止后将无法进行，相关费用将退回余额，确定要终止比赛吗？</div>
            <div class="pay-item f-20 clearfix">
              <div class="label w150">报名费用退还：</div>
              <div class="item-r m-l-150">
                <label class="pay-item-radio fl m-r-40">
                  <input class="radio" type="radio" value="1" name="feeReturn" v-model.number="endCompetitionData.feeReturn" />
                  <span>不退还</span>
                </label>
                <label class="pay-item-radio fl">
                  <input class="radio" type="radio" value="2" name="feeReturn" v-model.number="endCompetitionData.feeReturn" />
                  <span>退还</span>
                </label>
              </div>
            </div>
            <div class="pay-item">
              <div class="pay-item-text bor">
                <textarea class="text f-16" placeholder="请输入终止的原因" rows="3" v-model="endCompetitionData.reasonContent"></textarea>
              </div>
            </div>
            <div class="last-bottom text-c">
              <button class="bond-btn mar-auto" @click="handleSubmitEndCompetition">提交</button>
            </div>
          </div>
        </el-dialog>
      </div>
    </div>

    <!-- 我参加的赛事团队赛 - 组件模板 -->
    <div id="myParticipatedCompetitionTeam" style="position: absolute; width: 0; height: 0; overflow: hidden">
      <div class="center-inner-content">
        <!--center-order-state start-->
        <div class="center-order-state m-b-20 clearfix">
          <div class="li active"><a href="">所有赛事</a></div>
          <div class="li"><a href="">报名中</a></div>
          <div class="li"><a href="">激战中</a></div>
          <div class="li"><a href="">已结束</a></div>
          <div class="li"><a href="">已取消</a></div>
        </div>
        <!--center-order-state end-->
        <!--center-inner-form start-->
        <div class="center-inner-form wallet-search clearfix">
          <button class="form-btn m-l-20">查询</button>
        </div>
        <!--center-inner-form end-->
        <script>
          // jeDate('#dateS', {
          //   format: 'MM-DD-YYYY',
          // })
          // jeDate('#dateE', {
          //   format: 'MM-DD-YYYY',
          // })
        </script>
        <!--center-inner-table-wrap start-->
        <div class="center-inner-table-wrap">
          <table class="center-inner-table center-order-table">
            <tr>
              <th>赛事标题</th>
              <th>比赛类型</th>
              <th>报名时间</th>
              <th>人数</th>
              <th>比赛时间</th>
              <th>比赛阶段</th>
              <th>赛事状态</th>
              <th>操作</th>
            </tr>
            <tr>
              <td>
                <img class="center-order-img" src="/images/index12.png" />
                <p>三星杯荣耀决战赛</p>
              </td>
              <td>
                <p>象棋</p>
                <p>个人赛</p>
                <p>线下场地</p>
              </td>
              <td>
                <p>2021-10-12 12:00</p>
                至
                <p>2021-10-12 14:00</p>
              </td>
              <td>参赛人数 500</td>
              <td>
                <p>2021-10-12 12:00</p>
                <p>至</p>
                <p>2021-10-14 14:00</p>
              </td>
              <td>报名阶段</td>
              <td>
                <p class="color-orange">审核中</p>
              </td>
              <td>
                <div class="handle text-c">
                  <p><a class="handle-btn blue m-t-5" href="">修改赛事</a></p>
                  <p><a class="handle-btn red m-t-5" href="">删除赛事</a></p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img class="center-order-img" src="/images/index12.png" />
                <p>三星杯荣耀决战赛</p>
              </td>
              <td>
                <p>象棋</p>
                <p>个人赛</p>
                <p>线下场地</p>
              </td>
              <td>
                <p>2021-10-12 12:00</p>
                至
                <p>2021-10-12 14:00</p>
              </td>
              <td>参赛人数 500</td>
              <td>
                <p>2021-10-12 12:00</p>
                <p>至</p>
                <p>2021-10-14 14:00</p>
              </td>
              <td>报名阶段</td>
              <td>
                <p class="color-orange">报名中</p>
              </td>
              <td>
                <div class="handle text-c">
                  <a class="handle-btn m-t-5" href="CenterMatch6.html">报名管理</a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img class="center-order-img" src="/images/index12.png" />
                <p>三星杯荣耀决战赛</p>
              </td>
              <td>
                <p>象棋</p>
                <p>个人赛</p>
                <p>线下场地</p>
              </td>
              <td>
                <p>2021-10-12 12:00</p>
                至
                <p>2021-10-12 14:00</p>
              </td>
              <td>参赛人数 500</td>
              <td>
                <p>2021-10-12 12:00</p>
                <p>至</p>
                <p>2021-10-14 14:00</p>
              </td>
              <td>报名阶段</td>
              <td>
                <p class="color-orange">报名结束</p>
              </td>
              <td>
                <div class="handle text-c">
                  <a class="handle-btn m-t-5" href="CenterMatch6.html">报名管理</a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img class="center-order-img" src="/images/index12.png" />
                <p>三星杯荣耀决战赛</p>
              </td>
              <td>
                <p>象棋</p>
                <p>个人赛</p>
                <p>线下场地</p>
              </td>
              <td>
                <p>2021-10-12 12:00</p>
                至
                <p>2021-10-12 14:00</p>
              </td>
              <td>参赛人数 500</td>
              <td>
                <p>2021-10-12 12:00</p>
                <p>至</p>
                <p>2021-10-14 14:00</p>
              </td>
              <td>报名阶段</td>
              <td>
                <p class="color-orange">比赛中</p>
              </td>
              <td>
                <div class="handle text-c">
                  <a class="handle-btn m-t-5" href="">赛事管理</a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img class="center-order-img" src="/images/index12.png" />
                <p>三星杯荣耀决战赛</p>
              </td>
              <td>
                <p>象棋</p>
                <p>个人赛</p>
                <p>线下场地</p>
              </td>
              <td>
                <p>2021-10-12 12:00</p>
                至
                <p>2021-10-12 14:00</p>
              </td>
              <td>参赛人数 500</td>
              <td>
                <p>2021-10-12 12:00</p>
                <p>至</p>
                <p>2021-10-14 14:00</p>
              </td>
              <td>报名阶段</td>
              <td>已结束</td>
              <td>
                <div class="handle text-c">
                  <a class="handle-btn m-t-5" href="">赛事管理</a>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img class="center-order-img" src="/images/index12.png" />
                <p>三星杯荣耀决战赛</p>
              </td>
              <td>
                <p>象棋</p>
                <p>个人赛</p>
                <p>线下场地</p>
              </td>
              <td>
                <p>2021-10-12 12:00</p>
                至
                <p>2021-10-12 14:00</p>
              </td>
              <td>参赛人数 500</td>
              <td>
                <p>2021-10-12 12:00</p>
                <p>至</p>
                <p>2021-10-14 14:00</p>
              </td>
              <td>--</td>
              <td>
                <p class="color-red">未通过</p>
                <a class="color-blue" href="javascript:void(0)" onClick="syalert.syopen('alert3')">查看原因</a>
              </td>
              <td>
                <div class="handle text-c">
                  <p><a class="handle-btn blue m-t-5" href="CenterMatch.html">去修改</a></p>
                  <p><a class="handle-btn m-t-5" href="javascript:void(0)" onClick="syalert.syopen('alert2')">终止比赛</a></p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <img class="center-order-img" src="/images/index12.png" />
                <p>三星杯荣耀决战赛</p>
              </td>
              <td>
                <p>象棋</p>
                <p>个人赛</p>
                <p>线下场地</p>
              </td>
              <td>
                <p>2021-10-12 12:00</p>
                至
                <p>2021-10-12 14:00</p>
              </td>
              <td>参赛人数 500</td>
              <td>
                <p>2021-10-12 12:00</p>
                <p>至</p>
                <p>2021-10-14 14:00</p>
              </td>
              <td>--</td>
              <td>
                <p class="color-red">比赛终止</p>
                <a class="color-blue" href="javascript:void(0)" onClick="syalert.syopen('alert3')">查看原因</a>
              </td>
              <td>
                <div class="handle text-c">
                  <a class="handle-btn blue m-t-5" href="">查看详情</a>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <!--center-inner-table-wrap end-->
      </div>
    </div>

    <!-- 公共底部 -->
    <footer class="public-footer"></footer>

    <script src="/js/userCont/competition/myParticipatedCompetition.js"></script>
  </body>
</html>
