<!DOCTYPE html>
<!-- 赛事频道 competition -->
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>赛事频道 - 玻坡摸佛</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/plugins/syalert/syalert.min.css" />
    <link rel="stylesheet" href="/plugins/swiper/swiper.min.css" />
    <link rel="stylesheet" href="/plugins/layui/css/layui.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <script src="/plugins/babel-polyfill.min.js"></script>
    <script src="/plugins/layui/layui.js"></script>
    <script src="/plugins/jsencrypt.js"></script>
    <script src="/plugins/jquery.min.js"></script>
    <script src="/plugins/swiper/swiper.min.js"></script>
    <script src="/plugins/syalert/syalert.min.js"></script>
    <script src="/plugins/vue.min.js"></script>
    <script src="/plugins/axios.min.js"></script>

    <script src="/utils/request.js"></script>
    <script src="/utils/util.js"></script>
  </head>

  <body>
    <!-- 公共头部 -->
    <header class="public-header"></header>

    <div id="app">
      <!-- 轮播 -->
      <div class="cooper-banner w-1200">
        <div id="certify">
          <div class="swiper-container" ref="swiperContainer">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="cooper-banner-img">
                  <img src="/images/m5.jpg" data-temp="foo" />
                </div>
              </div>

              <div class="swiper-slide">
                <div class="cooper-banner-img">
                  <img src="/images/coo1.jpg" />
                </div>
              </div>

              <div class="swiper-slide">
                <div class="cooper-banner-img">
                  <img src="/images/coo1.jpg" />
                </div>
              </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>

      <!-- 玻说坡话 -->
      <div class="match-sec1 w-1200" style="display: none">
        <div class="index-sec2-title clearfix">
          <h2 class="t fl">玻说坡话</h2>
          <span class="ts fl">优秀参赛选手</span>
          <a class="index-more fr" href="">点击更多</a>
        </div>
        <!--match-sec1-ul start-->
        <ul class="match-sec1-ul clearfix">
          <li>
            <div class="li-con">
              <a href="3赛事频道-选手详情.html">
                <div class="li-t">国际象棋</div>
                <div class="img"><img src="/images/m1.jpg" /></div>
                <div class="li-n">江流儿</div>
                <div class="li-score">
                  <img src="/images/match1.png" class="icon" />
                  <span class="color-red">1852</span>积分
                </div>
                <div class="li-b">15场比赛</div>
              </a>
            </div>
          </li>
          <li>
            <div class="li-con">
              <a href="">
                <div class="li-t">国际象棋</div>
                <div class="img"><img src="/images/m1.jpg" /></div>
                <div class="li-n">江流儿</div>
                <div class="li-score">
                  <img src="/images/match1.png" class="icon" />
                  <span class="color-red">1852</span>积分
                </div>
                <div class="li-b">15场比赛</div>
              </a>
            </div>
          </li>
          <li>
            <div class="li-con">
              <a href="">
                <div class="li-t">国际象棋</div>
                <div class="img"><img src="/images/m1.jpg" /></div>
                <div class="li-n">江流儿</div>
                <div class="li-score">
                  <img src="/images/match1.png" class="icon" />
                  <span class="color-red">1852</span>积分
                </div>
                <div class="li-b">15场比赛</div>
              </a>
            </div>
          </li>
          <li>
            <div class="li-con">
              <a href="">
                <div class="li-t">国际象棋</div>
                <div class="img"><img src="/images/m1.jpg" /></div>
                <div class="li-n">江流儿</div>
                <div class="li-score">
                  <img src="/images/match1.png" class="icon" />
                  <span class="color-red">1852</span>积分
                </div>
                <div class="li-b">15场比赛</div>
              </a>
            </div>
          </li>
          <li>
            <div class="li-con">
              <a href="">
                <div class="li-t">国际象棋</div>
                <div class="img"><img src="/images/m1.jpg" /></div>
                <div class="li-n">江流儿</div>
                <div class="li-score">
                  <img src="/images/match1.png" class="icon" />
                  <span class="color-red">1852</span>积分
                </div>
                <div class="li-b">15场比赛</div>
              </a>
            </div>
          </li>
        </ul>
        <!--match-sec1-ul end-->
      </div>

      <!-- 推荐 -->
      <div class="match-sec2 w-1200 clearfix">
        <!-- 精彩推荐 -->
        <div class="match-sec2-fl fl">
          <div class="index-sec2-title clearfix">
            <h2 class="t fl">精彩推荐</h2>
          </div>
          <div class="box clearfix">
            <div class="box-l fl">
              <a :href="competitionRecommend.first_url"><img :src="competitionRecommend.first_image" /></a>
            </div>
            <div class="box-r fr">
              <a :href="competitionRecommend.second_url">
                <img :src="competitionRecommend.second_image" />
              </a>
              <a :href="competitionRecommend.third_url">
                <img :src="competitionRecommend.third_image" />
              </a>
            </div>
          </div>
        </div>

        <!-- 推荐直播 -->
        <div class="match-sec2-fr fr">
          <div class="index-sec2-title clearfix">
            <h2 class="t fl">推荐直播</h2>
            <a class="index-more fr" href="/live/liveMore.html">点击更多</a>
          </div>
          <div class="box">
            <div class="box-item" v-for="item in liveRecommend" :key="item.id">
              <a class="clearfix" :href="'/live/liveCont.html?id='+item.id">
                <div class="img fl">
                  <img :src="item.image" />
                </div>
                <div class="txt fl">
                  <div class="t" :title="item.title">{{item.title}}</div>
                  <div class="c clearfix">
                    <img class="icon" :src="item.avatar" />
                    <div class="n">{{item.nickname}}</div>
                  </div>
                </div>
                <div class="last fr">
                  <div class="cc color-orange">{{item.cate_name}}</div>
                  <div class="num fr">{{ item.see_num | viewersNumber }}</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- 激战中赛事 -->
      <div class="index-sec2 w-1200">
        <!-- 分类 -->
        <div class="index-sec2-title clearfix">
          <h2 class="t fl">激战中赛事</h2>
          <div class="match-tabs fl">
            <a :class="{active:fightingCompetitionCate === ''}" href="javascript:" @click="handleChangeFightingCompetitionCate('')">全部</a>
            <a :class="{active:fightingCompetitionCate === item.id}" href="javascript:" v-for="item in competitionCateList" :key="item.id" @click="handleChangeFightingCompetitionCate(item.id)"
              >{{item.category_name}}</a
            >
          </div>
          <a class="index-more fr" href="/competition/competitionList.html">点击更多</a>
        </div>

        <!-- 赛事列表 -->
        <div class="index-sec2-content clearfix">
          <div class="index-sec2-item" v-for="item in fightingCompetition" :key="item.id">
            <a class="bor" :href="'/competition/competitionDetail.html?competition_id=' + item.id">
              <div class="img-w"><img :src="item.cover_pricture" /></div>
              <div class="li-t clearfix">
                <div class="t fl" :title="item.competition_name">{{item.competition_name}}</div>
                <div class="tag fr">{{item.category_name}}</div>
              </div>
              <div class="li-c clearfix">
                <div class="li-private fl">
                  <img :src="item.avatar" />
                  <div class="name">{{item.nickname}}</div>
                </div>
                <div class="up fr" v-if="+item.competition_type === 0">个人赛</div>
                <div class="up fr" v-if="+item.competition_type === 1">团队赛</div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- 火热报名中 -->
      <div class="index-sec2 w-1200">
        <!-- 分类 -->
        <div class="index-sec2-title clearfix">
          <h2 class="t fl">火热报名中</h2>
          <div class="match-tabs fl">
            <a :class="{active:applyingCompetitionCate === ''}" href="javascript:" @click="handleChangeApplyingCompetitionCate('')">全部</a>
            <a :class="{active:applyingCompetitionCate === item.id}" href="javascript:" v-for="item in competitionCateList" :key="item.id" @click="handleChangeApplyingCompetitionCate(item.id)"
              >{{item.category_name}}</a
            >
          </div>
          <a class="index-more fr" href="/competition/applyList.html">点击更多</a>
        </div>

        <!-- 赛事列表 -->
        <div class="index-sec2-content clearfix">
          <div class="index-sec2-item" v-for="item in applyingCompetition" :key="item.id">
            <div class="bor">
              <a :href="'/competition/applyDetail.html?competition_id=' + item.id">
                <div class="img-w"><img :src="item.cover_picture" /></div>
                <div class="li-t clearfix">
                  <div class="t fl" :title="item.competition_name">{{item.competition_name}}</div>
                  <div class="tag fr" v-if="item.category_id === 1">围棋</div>
                  <div class="tag fr" v-if="item.category_id === 2">象棋</div>
                  <div class="tag fr" v-if="item.category_id === 3">五子棋</div>
                  <div class="tag fr" v-if="item.category_id === 4">国际象棋</div>
                  <div class="tag fr" v-if="item.category_id === 5">其他</div>
                </div>
                <div class="li-org">组织者：{{item.nickname}}</div>
                <div class="li-cha">冠军奖：<span class="color-red">{{ item.champion_money | bonus }}</span></div>
                <div class="li-end">已参赛：{{item.join_number}}<span>/{{item.upper_limit > 0 ? item.upper_limit : 10000}}</span>人</div>
                <div class="index-sec2-btn" v-if="item.status === 4">立即报名</div>
                <div class="index-sec2-btn gray" v-if="item.status === 5">报名截止</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 公共底部 -->
    <footer class="public-footer"></footer>

    <script src="/js/competition/index.js"></script>
  </body>
</html>
