<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>应榜订单</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/plugins/animate.min.css">
  <link rel="stylesheet" href="/plugins/syalert/syalert.min.css">
  <link rel="stylesheet" href="/plugins/swiper/swiper.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/plugins/layui/css/layui.css" />
  <link rel="stylesheet" href="/plugins/date/jedate.css">
  <script src="/plugins/jquery.min.js"></script>
  <script src="/plugins/layui/layui.js"></script>
  <script src="/plugins/swiper/swiper.min.js"></script>
  <script src="/plugins/syalert/syalert.min.js"></script>
  <script src="/plugins/date/jedate.js"></script>
  <script src="/plugins/vue.min.js"></script>
  <script src="/plugins/axios.min.js"></script>
  <script src="/utils/request.js"></script>
  <style>
    /* select 未选择状态 */
    .select.grey {
      color: #999;
    }

    .select.grey option:not(.placeholder) {
      color: #333;
    }

    /* select 选择状态 */
    .select option.placeholder {
      color: #999;
    }

    .center-order-state .li.active {
      color: #ff7f17;
    }
  </style>
</head>

<body>
  <!-- 公共头部 -->
  <header class="public-header"></header>
  <!--center-container start-->
  <div class="center-container">
    <!--main-center start-->
    <div class="main-center w-1200 clearfix">
      <div class="public-user"></div>
      <!--center-content start-->
      <div class="center-content fr" id="app">
        <!--center-inner start-->
        <div class="center-inner">
          <div class="center-inner-tit">应榜订单</div>
          <!--center-inner-content start-->
          <div class="center-inner-content">
            <!--center-inner-form start-->
            <div class="center-inner-form clearfix">
              <div class="form-item">
                <div class="label">订单类型：</div>
                <div class="form-bor">
                  <select class="select w100" :class="{grey: type === ''}" v-model="type">
                    <option class="placeholder" value="">全部</option>
                    <option v-for="(item, index) in typeList" :key="item.id" :value="item.id">{{item.name}}</option>
                  </select>
                </div>
              </div>
              <div class="form-item m-l-40">
                <div class="label">支付时间：</div>
                <div class="form-bor">
                  <input id="signUpStartDate" type="text" :value="start_time" class="input jeinput w100 text-c"
                    placeholder="开始时间" />
                  <span class="line">至</span>
                  <input type="text" class="input jeinput w100 text-c" :value="end_time" id="signUpEndDate"
                    placeholder="结束时间" />
                </div>
                <div class="form-bor m-l-20">
                  <input type="text" class="input w160" v-model="search" placeholder="订单号">
                </div>
                <button class="form-btn m-l-20" @click="onSearchClick">查询</button>
              </div>
            </div>
            <!--center-inner-form end-->
            <!--center-order-state start-->
            <div class="center-order-state m-t-15 clearfix">
              <div v-for="item in navList" :key="item.id" class="li" :class="item.id==navId ? 'active':''"
                @click="onnavClick(item.id)">
                {{item.name}}
              </div>
            </div>
            <!--center-order-state end-->
            <!--center-inner-table-wrap start-->
            <div class="center-inner-table-wrap">
              <table class="center-inner-table center-order-table">
                <tr>
                  <th>榜文标题</th>
                  <th>订单信息</th>
                  <th>榜文类型</th>
                  <th>应榜人</th>
                  <th>支付状态</th>
                  <th>支付时间</th>
                  <th>操作</th>
                </tr>
                <tr v-for="item in orderList" :key="item.id">
                  <td>
                    <div class="center-order-flex">
                      <img class="center-order-img" :src="item.image">
                      <p class="center-order-txt m-l-10">{{item.title}}</p>
                    </div>
                  </td>
                  <td>
                    <p>{{item.order_num}}</p>
                    <p class="color-red m-t-10">金额{{item.money}}</p>
                  </td>
                  <td>
                    <p v-if="item.type==1">教课</p>
                    <p v-if="item.type==2">学课</p>
                    <p v-if="item.is_trustee==1">托管</p>
                    <p v-if="item.is_trustee==2">不托管</p>
                    <p v-if="item.pay_num_type==1">一次付清</p>
                    <p v-if="item.pay_num_type==2">多次付清</p>
                  </td>
                  <td>{{item.attend_user}}</td>
                  <!-- 教课 -->
                  <td v-if="item.type==1">
                    <p v-if="item.status==0" class="color-orange">待对方支付</p>
                    <p v-if="item.status==1">对方已支付</p>
                  </td>
                  <!-- 学课 -->
                  <td v-if="item.type==2">
                    <p v-if="item.status==0" class="color-red">待支付</p>
                    <p v-if="item.status==1">已支付</p>
                  </td>
                  <td v-if="item.paytime">{{item.paytime}}</td>
                  <td v-else>--</td>
                  <td>
                    <div class="handle text-c">
                      <!-- 学课未支付 -->
                      <p v-if="item.type==2&&item.status==0" class="m-b-10"><a class="handle-btn red" href="">立即支付</a>
                      </p>
                      <p><a class="handle-btn blue" href="">查看详情</a></p>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <!--center-inner-table-wrap end-->
          </div>
          <!--center-inner-content end-->
        </div>
        <!--center-inner end-->
      </div>
      <!--center-content end-->
    </div>
    <!--main-center end-->
  </div>
  <!--center-container end-->
  <!-- 公共底部 -->
  <footer class="public-footer"></footer>
  <script src="/js/common.js"></script>
  <script src="/js/userCont/order/listOrder.js"></script>
</body>

</html>
