<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>个人中心</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/plugins/animate.min.css">
  <link rel="stylesheet" href="/plugins/syalert/syalert.min.css">
  <link rel="stylesheet" href="/plugins/swiper/swiper.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/plugins/date/jedate.css">
  <link rel="stylesheet" href="/plugins/layui/css/layui.css" />
  <script src="/plugins/layui/layui.js"></script>
  <script src="/plugins/jquery.min.js"></script>
  <script src="/plugins/swiper/swiper.min.js"></script>
  <script src="/plugins/syalert/syalert.min.js"></script>
  <script src="/plugins/date/jedate.js"></script>
  <script src="/plugins/vue.min.js"></script>

  <script src="/plugins/axios.min.js"></script>
  <script src="/utils/request.js"></script>
</head>

<body>
  <!-- 公共头部 -->
  <header class="public-header"></header>
  <!--center-container start-->
  <div class="center-container">
    <!--main-center start-->
    <div class="main-center w-1200 clearfix">
      <!--center-side start-->
      <div class="public-user"></div>
      <!--center-side end-->
      <!--center-content start-->
      <div class="center-content fr" id="app">
        <!--center-head start-->
        <div class="center-head clearfix">
          <!--center-head-fl start-->
          <div class="center-head-fl fl">
            <div class="con">
              <div class="head-img">
                <a href="CenterSet.html"><img :src="userCont.avatar"></a>
              </div>
              <div class="head-t">
                <span class="vip-type" v-if="userCont.vip==1">
                  <img src="/images/VIP.png">
                </span>
                <span class="vip-type" v-if="userCont.vip==2">
                  <img src="/images/VIP2.png">
                </span>
                <span class="vip-type" v-if="userCont.vip==3">
                  <img src="/images/VIP3.png">
                </span>
                <span class="name">{{userCont.nickname}}</span>
              </div>
              <div class="head-c clearfix">
                <a class="more fl" href="CenterMember.html">更多VIP特权查看></a>
                <a class="center-head-btn fr" href="CenterMember.html">开通会员</a>
              </div>
            </div>
          </div>
          <!--center-head-fl end-->
          <!--center-head-fr start-->
          <div class="center-head-fr">
            <div class="tit">我的钱包</div>
            <div class="con clearfix">
              <div class="li">
                <a href="/userCont/wallet/account.html">
                  <div class="num">{{userCont.money}}</div>
                  <div class="t">账户余额</div>
                </a>
              </div>
              <div class="li">
                <a href="CenterDeposit.html">
                  <div class="num">{{userCont.escrow}}</div>
                  <div class="t">托管金额</div>
                </a>
              </div>
              <div class="li">
                <div class="num">{{userCont.deposit}}</div>
                <div class="t">我的保证金</div>
                <a class="money-btn" href="javascript:void(0);" onClick="syalert.syopen('purse_money')">提现</a>
              </div>
              <div class="li">
                <a href="/userCont/wallet/card.html">
                  <div class="num">{{userCont.bank_count}}</div>
                  <div class="t">我银行卡</div>
                </a>
              </div>
            </div>
          </div>
          <!--center-head-fr end-->
        </div>
        <!--center-head-->
        <!--center-mid start-->
        <div class="center-mid clearfix">
          <!--center-mid-block start-->
          <div class="center-mid-block fl">
            <div class="center-mid-box">
              <div class="center-tit">榜文统计</div>
              <ul class="center-mid-ul">
                <!-- <li>
                  <a href="CenterRank2.html">
                    <div class="li-t">{{userCont.bangwen_push+userCont.bangwen_attend}}</div>
                    <div class="li-c">全部榜文</div>
                  </a>
                </li> -->
                <li>
                  <a href="/userCont/bangwen/noticeList.html">
                    <div class="li-t">{{userCont.bangwen_push}}</div>
                    <div class="li-c">我发布的</div>
                  </a>
                </li>
                <li>
                  <a href="/userCont/bangwen/mylist.html">
                    <div class="li-t">{{userCont.bangwen_attend}}</div>
                    <div class="li-c">我的应榜</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!--center-mid-block end-->
          <!--center-mid-block start-->
          <div class="center-mid-block fr">
            <div class="center-mid-box">
              <div class="center-tit">赛事统计</div>
              <ul class="center-mid-ul">
                <li>
                  <a href="/userCont/competition/myReleasedCompetition.html">
                    <div class="li-t">{{userCont.competition_push}}</div>
                    <div class="li-c">我发布的比赛</div>
                  </a>
                </li>
                <li>
                  <a href="/userCont/competition/myParticipatedCompetition.html">
                    <div class="li-t">{{userCont.competition_attend}}</div>
                    <div class="li-c">我报名参赛的</div>
                  </a>
                </li>
                <li>
                  <a href="CenterMatch5.html">
                    <div class="li-t">{{userCont.competition_judge}}</div>
                    <div class="li-c">我当裁判的</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!--center-mid-block end-->
        </div>
        <!--center-mid end-->
        <!--center-mid start-->
        <div class="center-mid">
          <div class="center-mid-box">
            <div class="center-tit">直播统计</div>
            <div class="center-mid-flex">
              <ul class="center-mid-ul w600">
                <li>
                  <a href="/userCont/live/myLive.html">
                    <div class="li-t">{{userCont.live_push}}</div>
                    <div class="li-c">全部直播</div>
                  </a>
                </li>
                <li>
                  <a href="CenterLive1.html">
                    <div class="li-t">{{userCont.live_check}}</div>
                    <div class="li-c">审核中</div>
                  </a>
                </li>
                <li>
                  <a href="CenterLive1.html">
                    <div class="li-t">{{userCont.live_nobegin}}</div>
                    <div class="li-c">等待开播</div>
                  </a>
                </li>
                <li>
                  <a href="/userCont/live/myOrder.html">
                    <div class="li-t">{{userCont.live_appoint}}</div>
                    <div class="li-c">预约直播</div>
                  </a>
                </li>
              </ul>
              <!--center-mid-date start-->
              <div class="center-mid-date p-t-20 p-b-30">
                <div id="date_test"></div>
                <div class="center-mid-date-tip flex flex-around flex-item-center p-t-15 p-b-15">
                  <span class="orange f-12">赛事直播</span>
                  <span class="blue f-12">课程直播</span>
                </div>
              </div>
              <!--center-mid-date end-->
              <link rel="stylesheet" type="text/css" href="/plugins/calendar/jquery.calendar.css" />
              <script src="/plugins/calendar/jquery.calendar.js"></script>
              <script type="text/javascript">
                // 测试数据
                var testData = [
                  { "date": "2022/2/27", "name": "<a class='mm'>赛事直播</a>" },
                  { "date": "2022/2/27", "name": "<a class='ml'>课程直播</a>" },
                  { "date": "2022/2/24", "name": "<a class='mm'>赛事直播</a>" },
                  { "date": "2022/2/23", "name": "<a class='ml'>课程直播</a>" },
                  { "date": "2022/2/7", "name": "<a class='mm'>赛事直播</a>" },
                  { "date": "2022/2/7", "name": "<a class='ml'>课程直播</a>" },
                  { "date": "2022/2/4", "name": "<a class='mm'>赛事直播</a>" },
                  { "date": "2022/2/2", "name": "<a class='ml'>课程直播</a>" },
                  { "date": "2022/1/27", "name": "<a class='mm'>赛事直播</a>" },
                  { "date": "2022/1/27", "name": "<a class='ml'>课程直播</a>" },
                  { "date": "2022/1/24", "name": "<a class='mm'>赛事直播</a>" },
                  { "date": "2022/1/23", "name": "<a class='ml'>课程直播</a>" },
                  { "date": "2022/1/7", "name": "<a class='mm'>赛事直播</a>" },
                  { "date": "2022/1/7", "name": "<a class='ml'>课程直播</a>" },
                  { "date": "2022/1/4", "name": "<a class='mm'>赛事直播</a>" },
                  { "date": "2022/1/2", "name": "<a class='ml'>课程直播</a>" }
                ]
                $('#date_test').calendar({
                  defaultDate: '2022/02/27',
                  eventData: testData, // 设置eventData会覆盖url地址
                  // url:'js/data.json',  // 可直接通过url请求后端地址
                  method: 'get',
                  params: {}
                });

              </script>

            </div>
          </div>
        </div>
        <!--center-mid end-->
        <!--center-mid start-->
        <div class="center-mid">
          <div class="center-mid-box">
            <div class="center-tit">广告中心</div>
            <ul class="center-mid-asd clearfix">
              <li>
                <a href="CenterAsd.html">
                  <div class="img"><img src="/images/center1.png"></div>
                  <div class="t m-b-20 m-t-20">广告位置1</div>
                  <div class="price m-b-20 m-t-20">1000元/月</div>
                  <div class="mid-asd-btn">我要购买</div>
                </a>
              </li>
              <li>
                <a href="CenterAsd.html">
                  <div class="img"><img src="/images/center1.png"></div>
                  <div class="t m-b-20 m-t-20">广告位置1</div>
                  <div class="price m-b-20 m-t-20">1000元/月</div>
                  <div class="mid-asd-btn">我要购买</div>
                </a>
              </li>
              <li>
                <a href="CenterAsd.html">
                  <div class="img"><img src="/images/center1.png"></div>
                  <div class="t m-b-20 m-t-20">广告位置1</div>
                  <div class="price m-b-20 m-t-20">1000元/月</div>
                  <div class="mid-asd-btn">我要购买</div>
                </a>
              </li>
              <li>
                <a href="CenterAsd.html">
                  <div class="img"><img src="/images/center1.png"></div>
                  <div class="t m-b-20 m-t-20">广告位置1</div>
                  <div class="price m-b-20 m-t-20">1000元/月</div>
                  <div class="mid-asd-btn">我要购买</div>
                </a>
              </li>
              <li>
                <a href="CenterAsd.html">
                  <div class="img"><img src="/images/center1.png"></div>
                  <div class="t m-b-20 m-t-20">广告位置1</div>
                  <div class="price m-b-20 m-t-20">1000元/月</div>
                  <div class="mid-asd-btn">我要购买</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!--center-mid end-->
      </div>
      <!--center-content end-->
    </div>
    <!--main-center end-->
  </div>
  <!--center-container end-->
  <!-- 公共底部 -->
  <footer class="public-footer"></footer>
  <!--提现弹出 -->
  <div class="sy-alert purse-pop animated" sy-enter="zoomIn" sy-leave="zoomOut" sy-type="confirm" sy-mask="true"
    id="purse_money">
    <div class="purse-col-content">
      <div class="bond-close" onClick="syalert.syhide('purse_money')"></div>
      <div class="bond-tit m-b-25">提现</div>
      <div class="purse-col clearfix">
        <div class="label">账户余额：</div>
        <div class="col-r">
          <span class="color-red f-24 line-48">￥1200.00</span>
        </div>
      </div>
      <div class="purse-col clearfix">
        <div class="label">提现金额：</div>
        <div class="col-r">
          <div class="purse-input"><input class="input" type="text" placeholder="请输入金额"></div>
        </div>
      </div>
      <div class="purse-col clearfix">
        <div class="label">选择银行
          卡：</div>
        <div class="col-r">
          <div class="purse-input">
            <select class="select">
              <option>交通银行124563</option>
            </select>
          </div>
        </div>
      </div>
      <div class="purse-col clearfix">
        <div class="label">支付密码：</div>
        <div class="col-r">
          <div class="purse-input"><input class="input" type="text" placeholder="请输入支付密码"></div>
        </div>
      </div>
      <div class="purse-col text-r"><a class="color-6 f-16" href="">忘记密码？</a> </div>
      <button class="publish-btn mar-auto m-t-50 m-b-40">提交</button>
    </div>
  </div>
  <script src="/js/common.js"></script>
  <script src="/js/userCont/wallet/index.js"></script>
</body>

</html>
